@charset "utf-8";

#help {
    position: fixed;
    top: 230px;
    left: 20px;
    z-index: 999999999999;
}

#help .btn_help {
    position: relative;
    display: inline-block;
    width: 44px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
    background-color: #f45897;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Noto Sans KR', serif;
}

/* .help {
    box-sizing: border-box;
} */



.helptxt {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(41, 41, 41, 0.425);
    color: #fff;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;
    z-index: 1;
    text-align: left;
    font-family: 'Noto Sans KR', serif;
    cursor: pointer;
    border: 3px dashed #5c47fd;
    /* outline: 4px dashed #5c47fd; */
    z-index: 999999;
}

.helptxt:hover {
    background-color: #f4589669;
    border-color: #f45897;
}

.helptxt:hover::before {
    background-color: #f45897;
}


.relative {
    position: relative !important;
}


/* .background .helptxt{
    align-items: flex-start;
    justify-content: center;
} */


.helptxt::before {
    position: relative;
    top: -3px;
    background-color: #5c47fd;
    box-sizing: border-box;
    padding: 5px 15px;
}

.mMod0 .helptxt::before {
    content: '서비스명';
    padding: 0 5px;
}

.background .helptxt::before {
    content: '배경사진/동영상';
}

.mMod1 .helptxt::before {
    content: '로고';
    padding: 0 5px;
}

.mMod3 .helptxt::before {
    content: '타이틀';
}

.mMod4 .helptxt::before {
    content: '보조내용';
}

.mMod5 .helptxt::before {
    content: '위치(지도)';
}

.mMod6 .helptxt::before {
    content: '연락처';
}

.mMod7 .helptxt::before {
    content: '링크';
}

.mMod8 .helptxt::before {
    content: '유튜브';
}

.mMod9 .helptxt::before {
    content: '사진';
}

.mMod10 .helptxt::before {
    content: '첨부파일';
}

.mMod11 .helptxt::before {
    content: 'SNS';
}

.helptxt.on {
    background-color: #f4589669;
    border-color: #f45897;
}

.helptxt.on::before {
    background-color: #f45897;
}


/* 알림창 */
.swal-overlay {
    z-index: 9999999999999999999;
}

.swal-text {
    word-break: normal;
}

@media only screen and (max-width:850px) {

    .helptxt {
        font-size: 13px;
    }

    .helptxt::before {
        padding: 3px 10px;
    }
}