@charset "utf-8";

@media only screen and (max-width:1366px) {

    .mSky {
        top: auto;
        bottom: 0;
        transform: none;
	}

    .mSky .ls+.forMobile,
	.mSky .ls+.ls {
		margin: 0 0 8px;
	}

    .mSky .forWeb{
        display: none;
    }

    .mSky .forMobile{
        position: relative;
    }

    .mSky .ico {
		background-image: url(../../common/images/ico_kakaotalk_m.png);
		background-size: auto 55px;
		width: 55px;
		height: 55px;
	}

    .mSky .iSns .ico {
		background-image: url(../../common/images/ico_sns_m.png);
		background-position: 50% 50%;
		background-size: auto 18px;
		background-color: #5c47fd;
		border-radius: 50%;
	}

    .mSky .iAlarm .ico {
		background: none;
		text-indent: 0;
		background-color: rgba(0, 0, 0, 0.21);
		font-size: 12px;
		color: #fff;
		margin: 8px 0;
		padding: 2px 0;
		height: auto;
        text-align: center;
	}

    .lSky {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
	}

	.lSky a {
		display: block;
		background: url(../../common/images/ico_facebook_m.png) 0 0 no-repeat;
		background-size: auto 55px;
		text-indent: -9999px;
		font-size: 0;
		margin: 0 0 10px;
		width: 55px;
		height: 55px;
	}

	.lSky a.twiter {
		background-image: url(../../common/images/ico_twitter_m.png);
	}

	.lSky a.instagram {
		background-image: url(../../common/images/ico_instagram_m.png);
	}

	.lSky a.youtube {
		background-image: url(../../common/images/ico_youtube_m.png);
	}

	.lSky a.close {
		background-image: url(../../common/images/ico_sns_close_m.png);
		background-position: 50% 50%;
		background-size: auto 14px;
		background-color: #f45897;
		border-radius: 50%;
		margin-bottom: 0;
	}



    
    body {
        -webkit-overflow-scrolling: touch;
    }

    body.on {
        position: fixed;
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }

    #wrap {
        position: relative;
        min-width: unset;
        margin-right: unset;

    }

    .open {
        position: fixed;
        top: 93px;
        right: -42px;
        width: 178px;
        height: 49px;
        background-color: #000;
        transform: rotate(-90deg);
        z-index: 999999;
        padding: 20px;
        box-sizing: border-box;
        text-align: left;
        line-height: 7px;

    }

    .open>a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }

    .open>a::after {
        content: '＋';
        position: absolute;
        right: 20px;
        font-size: 15px;
    }


    .open.on {
        background-color: #fff;
    }

    .open.on a {
        color: #000;
    }

    .open.on>a::after {
        content: '×';
    }

    .top_menu {

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 99999;
        padding: 40px 30px 80px 30px;
        box-sizing: border-box;
        overflow-y: auto;


        /* iOS scroll */
        /* -webkit-overflow-scrolling: touch; */

    }

    .top_menu.on {
        display: block;
    }


    .top_menu>div,
    .top_menu>span {
        color: #fff;
    }

    .top_menu .mMod0 {
        display: block;
        margin: unset;
        margin-bottom: 50px;
    }

    .top_menu .mMod3 {
        position: unset;
        padding: unset;
        height: unset;
        margin-bottom: 43px;
    }

    .top_menu .mMod3::after {
        display: none;
    }


    .top_menu .mMod6 .tit {
        width: 100%;
    }

    .top_menu .mMod6 strong+strong {
        margin-left: 20px;
    }


    .top_menu .mMod6 {
        position: unset;
        background: unset;
        box-shadow: unset;
        margin: unset;
        width: 100%;
        margin-bottom: 40px;
    }

    .top_menu .mMod7 {
        justify-content: unset;
        align-items: unset;
        flex-wrap: unset;
        text-align: left;
        height: unset;

    }

    .top_menu .mMod10 {
        display: inline-block;
        margin-top: 40px;
    }


    .mMod7 a {
        display: inline-block;
        color: #fff;
        margin: unset;
        border-bottom: 1px solid #fff !important;
        margin: 10px 0;
    }

    .mMod7 a::after {
        content: url(../images/arrow_white.png);
    }


    .mMod10 a {
        color: #fff;
    }

    .mMod10.forMobile a::after {
        content: url(../images/arrow_white_reverse.png);
        margin-left: 10px;
    }

    .mMod10.forMobile a {
        border-bottom: 1px solid #fff;
    }

    .forWeb {
        display: none;
    }

    .forMobile {
        display: block;
    }

    .lbx {
        display: none;
    }

    .titlebx {
        display: flex;
        position: absolute;
    }


    .gnb {
        justify-content: unset;
    }

    .rbx {
        margin-left: unset;
        margin-right: unset;
        width: 100%;
        /* max-height: 100%; */
        padding-left: 10%;
        box-sizing: border-box;

        /* overflow-y: auto; */

        /* iOS scroll */
        /* -webkit-overflow-scrolling: touch; */
    }

    .main_section_txt {
        left: -35px;
    }

    .mMod3 {
        padding-bottom: 50vh;
    }

    .mMod3 h2 {
        font-size: 38px;
    }

    .mMod3 .txt {
        font-size: 16px;
    }

    .mMod3::after {
        bottom: unset;
        right: unset;
        display: inline-block;
        transform: scale(.6);
        margin-top: 80px;
    }

    .mMod2 {
        width: 100%;
    }

    .mMod2::before {
        transform: scale(.7);
    }

    .background {
        max-width: 100%;
        max-height: unset;
    }

    .background img {
        object-fit: cover;
    }


    .mMod4 .tit {
        font-size: 20px;
        width: 90%;
    }

    .mMod4 .txt {
        width: 90%;
    }


    .mMod4 .swiper-button-prev {
        left: 0;
        opacity: .4;

    }

    .mMod4 .swiper-pagination {
        left: -38px;
    }

    .mMod4 .swiper-button-next {
        right: 67px;
        opacity: .4;

    }



    .mMod9::before {
        transform: scale(.7);
    }

    .mMod9 .swiper-wrapper {
        width: 90%;
    }

    .mMod9 .swiper-slide {
        width: 100% !important;
    }



    .mMod9 .swiper-button-next {
        background: url(../images/btn_slide_next.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 22px;
        top: unset;
        right: 67px;
        bottom: 190px;
        z-index: 999;
        opacity: 0.4;
    }

    .mMod9 .swiper-button-prev {
        background: url(../images/btn_slide_prev.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 22px;
        top: unset;
        left: 0;
        bottom: 190px;
        z-index: 999;
        opacity: 0.4;
    }

    .mMod9 .swiper-pagination {
        bottom: 190px;
        top: unset;
        left: -38px;
        font-weight: 500;
        color: #595959;
    }

    .mMod9 .swiper-pagination-current::before {
        content: '0';
    }

    .mMod9 .swiper-pagination-current {
        color: #000;
    }

    .mMod9 .swiper-pagination-total {
        opacity: .6;
    }

    .mMod9 .swiper-pagination-total::before {
        content: '0';
    }

    .modBg {
        width: 100%;
        height: 100%;
        top: unset;
        left: unset;
        transform: unset;
    }




    .lMod9 .swiper-slide {
        width: 100% !important;
        line-height: 100vh;
        max-height: 100vh;
    }

    .btn_close {
        right: 20px;
    }

    .youtube_section_txt {
        left: -47px;
    }

    .mMod8 {
        width: 100%;
    }

    .mMod8::before {
        transform: scale(.7);
    }

    .ratiobx.forMobile {
        width: 90%;
        position: relative;
        box-sizing: border-box;
        padding-top: 56.6%;
    }

    .mMod8 iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .mMod5 {
        position: unset;
        height: 100%;
        padding-left: unset;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        background-color: unset;
    }

    footer {
        height: auto;
        background: linear-gradient(to bottom, #fff 10%, #000 0);
        padding-left: 10%;
        padding-bottom: 25%;
    }

    .gMap {
        position: relative;
        top: 0px;
        right: unset;
        width: 90%;
        height: 0;
        padding-top: 90.6%;
    }

    .gMap::before {
        content: url(../images/circle.png);
        position: absolute;
        top: -27px;
        left: -30px;
        transform: scale(.7);
        z-index: 999;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .sbx {
        width: 80%;
        margin-top: 40px;
        box-sizing: border-box;
    }

    .mMod5 .ti span {
        display: block;
        margin-bottom: 37px;
        font-size: 16px;
    }

    .mMod5 .ti {
        margin-bottom: 30px;
    }

    .mMod5 .ti .t {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .mMod5 .txt {
        font-size: 16px;
        line-height: 150%;
    }
}