@charset "utf-8";

html,
body {
    width: 100%;
}

html.on,
body.on {
    overflow: hidden;
}

h2,
.mMod0,
.t,
.ti,
.tit,
.tel {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}

.mMod7 a,
.mMod4 .swiper-slide,
.mMod5,
.mMod10 a {
    background-color: #fff;
}

.gnb {
    display: flex;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 20px;
    box-sizing: border-box;
    align-items: center;
    background-color: #fff;
    opacity: 0;
    transition: opacity .4s;
}

.gnb .mMod1 {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: 20px;
    box-shadow: 0 0 3px 1px rgb(126 126 126 / 28%);
}

.gnb .mMod0 {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.gnb.on {
    z-index: 9999;
    opacity: 1;
}

#wrap {
    width: 100%;
}

.mMod2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 1;
}

.logobx {
    position: relative;
    text-align: center;
    margin-bottom: 150px;
}

.bovh {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.mMod1 {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.mMod0 {
    color: #fff;
    font-size: 25px;
}

.content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding-top: 25vh;
    box-sizing: border-box;
}

.content.on {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
}

.white {
    padding: 30px 30px 100px 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

.maintitlebx {
    position: relative;
    max-width: 570px;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border-radius: 18px;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid #959ba2;
}

/* .lineclamp {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 50%;
}

.mMod3 .txt {
    font-size: 20px;
}

.bar {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #000;
    margin: 20px 0;
}

.tel {
    font-size: 28px;
    font-weight: bold;
}

.mMod6 .txt {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
}

.telbx {
    display: flex;
    position: absolute;
    top: 40px;
    right: 50px;
}

.btn_tel {
    font-size: 0;
    text-indent: -999px;
    background-image: url(../image/tel.png);
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* .maintitlebx::after {
    content: '';
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 17px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../image/scrolldown.png);
} */

.guide {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
}

.mMod7 {
    margin-bottom: 30px;
}

.mMod7 a {
    display: block;
    width: 100%;
    padding: 25px 50px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #959ba2;
    font-size: 22px;
    font-weight: 500;
}

.mMod7 a::before {
    content: '';
    display: inline-block;
    vertical-align: 0px;
    margin-right: 20px;
    background-image: url(../image/mod7.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mMod7 a+a {
    margin-top: 15px;
}

.mMod9 {
    width: 100%;
    margin-bottom: 30px;
}

.mMod9 .swiper-container {
    width: 100%;
    height: 100%;
}

.mMod9 img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    border-radius: 18px;
}

.mMod9 .swiper-slide {
    position: relative;
    background-color: #fff;
    border: 1px solid #959ba2;
    border-radius: 18px;
    box-sizing: border-box;
}

.mMod9 .swiper-slide p{
    font-size: 18px;
    padding: 20px 15px;
    margin-top: 0;
    box-sizing: border-box;
}

.mag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 177.5px;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(../image/mag.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mMod4 {
    margin-bottom: 30px;
}

.mMod4 .swiper-slide {
    border-radius: 18px;
    border: 1px solid #959ba2;
    padding: 40px 50px;
    box-sizing: border-box;
}

.mMod4 .swiper-slide+.swiper-slide {
    margin-top: 15px;
}

.mMod4 .tit {
    font-size: 25px;
    font-weight: bold;
}

.mMod4 .txt {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

.mMod8 {
    margin-bottom: 30px;
}

.iframebx {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 0;
    padding-top: 55%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mMod5 {
    border: 1px solid #959ba2;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 30px;
}

.gMap {
    position: relative;
    height: 350px;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.navi {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #3ab88a;
    color: #fff;
    font-size: 18px;
    border-radius: 18px;
    z-index: 9999;
}

.txtbx {
    padding: 40px 50px;
    box-sizing: border-box;
}

.t {
    font-size: 25px;
}

.ti {
    font-size: 20px;
    margin-top: 10px;
}

.tx {
    font-size: 20px;
    margin-top: 20px;
}

.mMod10 a {
    display: block;
    width: 100%;
    padding: 25px 50px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #959ba2;
    font-size: 22px;
    font-weight: 500;
}

.mMod10 a::before {
    content: '';
    display: inline-block;
    vertical-align: -10px;
    margin-right: 20px;
    background-image: url(../image/down.png);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lMod9 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    max-width: 1200px;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    line-height: calc(var(--vh, 1vh) * 100);
}

.lMod9 .swiper-slide {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.swiper-zoom-container {
    height: auto;
}

.btn_close {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 99999;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(../image/close.png);
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.lMod9 img {
    width: 100%;
}

.sms {
    display: none;
}

.mMod10 {
    margin-bottom: 30px;
}

.mMod11 {
    text-align: center;
}

.mMod11 a {
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mMod11 .facebook {
    background-image: url(../image/facebook.png);
}

.mMod11 .twitter {
    background-image: url(../image/twitter.png);
}

.mMod11 .instagram {
    background-image: url(../image/instagram.png);
}

.mMod11 .youtube {
    background-image: url(../image/youtube.png);
}

.mMod11 a+a {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #3ab88a;
}

.qrpopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(160, 160, 160, 0.486);
}

.qrpopup.on{
    display: flex;
}

.qrbx {
    width: 50%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.qrbx::-webkit-scrollbar {
    width: 0;
}

.qrbx .mMod3{
    margin-bottom: 0px;
}

.qrbx .mMod3 h2{
    margin-bottom: 0px;
    font-size: 25px;
    width: auto;
}

.save {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 5px 20px;
    box-sizing: border-box;
    line-height: 160%;
}

.info2 {
    font-size: 16px;
}

#qr {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    box-sizing: border-box;
}

#qr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_QR{
    position: absolute;
    top: 30px;
    right: 30px;
    background-repeat: no-repeat;
    background-image: url(../image/star.png);
    background-size: 100%;
    font-size: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    z-index: 99999;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}