@charset "utf-8";

@import url(//font.elice.io/EliceDigitalBaeum.css);

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a075;
}

html,
body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Elice Digital Baeum", sans-serif;
}

h2,
.tit,
.mMod0,
.ti,
.t,
.tel {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}


#wrap {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px 1px rgba(155, 155, 155, 0.425);
}

.top {
    width: 100%;
    height: 70px;
    background-color: #5c47fd;
}

.bottom {
    width: 100%;
    background-color: rgb(71, 71, 71);
    height: 70px;
}

.mainslide {
    flex: 1;
    overflow: hidden;
    background-color: #fff;
}


/* 1st slide */
.mMod2 {
    height: 100%;
    overflow-y: auto;
}

.logobx {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.mMod1 {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    box-shadow: 0 0 4px 1px rgba(104, 104, 104, 0.233);
    border-radius: 50%;
    overflow: hidden;
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.mMod0 {
    font-size: 18px;
    font-weight: bold;
}

.ham {
    position: absolute;
    right: 20px;
}

.background {
    width: 100%;
    background-color: rgba(177, 177, 177, 0.178);
}

.background img {
    width: 100%;
    object-fit: contain;
    max-height: 450px;
}


.iconbx {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: #fff;
}

.iconbx a {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
    text-indent: -9999px;
    margin-left: 10px;
}


.heart {
    width: 24px;
    height: 24px;
}

.btn_sms {
    background-image: url(../image/sms.svg);
}

.btn_tel {
    background-image: url(../image/tel.svg);
}

.mMod3 {
    padding: 10px 30px;
    box-sizing: border-box;
}

.mMod3 h2 {
    font-size: 20px;
}

.mMod3 .txt {
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
}


.mMod7 {
    padding: 10px 30px;
    box-sizing: border-box;
}

.mMod7 a {
    font-size: 14px;
    color: #5c47fd;
}

.mMod7 a::before {
    content: '#';
}

.mMod7 a+a {
    margin-left: 5px;
}



/* 2nd slide */
.mMod4 {
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mMod4 .swiper-slide {
    height: auto;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.mMod4 .tit {
    display: inline;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.mMod4 .tit::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 13px;
    width: 100%;
    height: 10px;
    background-color: rgba(61, 113, 255, 0.329);
}

.mMod4 .txt {
    margin-top: 20px;
    font-size: 18px;
}

.mMod4 .swiper-slide+.swiper-slide {
    margin-top: 40px;
}

.mMod4 .swiper-slide:nth-child(even) {
    text-align: right;
    margin-left: auto;
}

.mMod4 .swiper-slide:nth-child(even) .tit::after {
    background-color: rgba(255, 55, 165, 0.322);
}




/* 3rd slide */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.padding {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.grid-sizer{
    width: 30%;
}

.grid-item {
    margin-bottom: 5px;
}

.mMod9 {
    width: 100%;
    margin-top: 5px;
}

.mMod9 .swiper-slide {
    position: relative;
    width: 30%;
    height: auto;
    display: inline-block;
}

.mMod9 .swiper-slide::before {
    content: '사진 확대';
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
}

.mMod9 .swiper-slide:hover::before {
    opacity: 1;

}

.mMod9 img {
    width: 100%;
}

.mMod8 {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 50%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 4th slide */

.mMod5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.gMap {
    width: 100%;
    min-height: 300px;
    flex: 1;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.txtbx {
    padding: 30px;
    box-sizing: border-box;
}

.t {
    font-size: 22px;
}

.t::before {
    content: '';
    display: inline-block;
    background-image: url(../image/office.svg);
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.ti {
    font-size: 16px;
    margin-top: 10px;
}

.tx {
    font-size: 16px;
    margin-top: 20px;
}

.navi {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
}

.navi::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../image/navi.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}


/* last slide */
.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    text-align: center;
}

.last .mMod1 {
    width: 80px;
    height: 80px;
    margin: 0;
}

.last .mMod0 {
    margin-top: 10px;
}

.mMod6 {
    margin-top: 20px;
}

.mMod6 .tit {
    font-size: 18px;
}

.mMod6 .txt {
    font-size: 16px;
    margin-top: 20px;
}

.mMod10 {
    margin-top: 20px;
    font-size: 16px;
}

.mMod10::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../image/down.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: -3px;
}

.mMod11 {
    margin-top: 20px;
}

.mMod11 a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
    text-indent: -9999px;
}

.mMod11 .facebook {
    background-image: url(../image/facebook.svg);
}

.mMod11 .instagram {
    background-image: url(../image/instagram.svg);
}

.mMod11 .twitter {
    background-image: url(../image/twitter.svg);
}

.mMod11 .youtube {
    background-image: url(../image/youtube.svg);
}

.mMod11 a+a{
    margin-left: 5px;
}