@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

h2,
.tit,
.t,
.mMod0 {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}

#wrap {
    width: 100%;
}

.mMod2 {
    position: fixed;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.151);
    z-index: 1;
}

.content {
    position: relative;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 20%, #000 100%);
}

.pbx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 0 40px;
    height: calc(var(--vh, 1vh) * 100);
    box-sizing: border-box;
    margin: 0 auto;
}

.lbx {
    position: relative;
    width: 33%;
    height: calc(var(--vh, 1vh) * 100);
}

.fixed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 100px 0;
    box-sizing: border-box;
    width: 21%;
    height: 100%;
}

.mMod1 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.mMod0 {
    display: block;
    font-size: 28px;
    font-weight: 700;
    margin-top: 30px;
}

.mMod6 {
    margin-top: 100px;
}

.mMod6 .tit a {
    font-size: 30px;
    color: #fff;
}

.mMod6 .txt {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
}


.btn_tel,
.btn_sms,
.btn_QR {
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 25px;
}

.btn_tel {
    background-image: url(../images/btn_tel.svg);
    margin-right: 20px;
}

.btn_QR {
    background-image: url(../images/btn_QR.png);
}

.btn_sms {
    background-image: url(../images/btn_sms.svg);
}


.mMod11 a {
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 20px;
}

.mMod11 .facebook {
    background-image: url(../images/facebook.svg);
}

.mMod11 .instagram {
    background-image: url(../images/instagram.svg);
}

.mMod11 .twitter {
    background-image: url(../images/twitter.svg);
}

.mMod11 .youtube {
    background-image: url(../images/youtube.svg);
}

.mMod11 a:last-child {
    margin-right: 0;
}


.rbx {
    width: 50%;
    height: calc(var(--vh, 1vh) * 100);
}

.slide1,
.slide2 {
    position: relative;
}


.page {
    height: calc(var(--vh, 1vh) * 100);
    padding: 100px 0;
    box-sizing: border-box;
}

.scrollbxw {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: border-box;
}

.maintitlebx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}


.mMod3 h2 {
    font-size: 60px;
}

.mMod3 .txt {
    font-size: 18px;
    margin-top: 20px;
}

.btn_link {
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/btn_link.svg);
}

.section_txt {
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 35px;
}

.mMod9 .section_txt,
.mMod4 .section_txt {
    display: flex;
    justify-content: space-between;
}

.btnbx {
    position: relative;
    display: flex;
    align-items: center;
}

.swiper-pagination {
    position: static;
    transform: none;
    width: auto;
    top: 0;
    bottom: auto;
    left: auto;
    right: 120px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.466);
    margin-right: 30px;
    font-weight: 400;
}

.swiper-pagination-current::before,
.swiper-pagination-total::before {
    content: '0';
}

.swiper-pagination-current {
    color: #fff;
    font-weight: 600;
}


.swiper-button-next,
.swiper-button-prev {
    position: static;
    display: inline-block;
    margin: 0;
    transform: none;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.swiper-button-next {
    background-image: url(../images/btn_slide_next.svg);
}

.swiper-button-prev {
    background-image: url(../images/btn_slide_prev.svg);
    margin-right: 10px;
}

.mMod9 .swiper-container {
    width: 100%;
}

.mMod9 img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.mMod9 .swiper-slide p{
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.mag {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-right: 0;
    font-size: 0;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/mag.svg);
    z-index: 9999;
}


.mMod8 {
    width: 100%;
}

.iframebx {
    height: 41vh;
}

iframe {
    width: 100%;
    height: 100%;
}


.mMod4 {
    height: 100%;
}

.mMod4 .tit {
    font-size: 34px;
    font-weight: 600;
}

.mMod4 .txt {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 300;
}

.mMod4 .swiper-container {
    width: 100%;
    height: 60vh;
}

.mMod4 .swiper-slide {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70);
}



.mMod5 {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 50px;
    box-sizing: border-box;
}

.gMap {
    width: 100%;
    height: 30vh;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.txtbx {
    margin-top: 20px;
}

.t {
    font-size: 35px;
}

.ti {
    font-size: 17px;
    margin-top: 25px;
    font-weight: 500;
}

.tx {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.navi {
    position: relative;
    display: block;
    width: 220px;
    height: 62px;
    line-height: 62px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.navi::after {
    content: '';
    background-image: url(../images/arrow.svg);
    width: 11px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 50px;
}


/* 팝업 메뉴 */
.menu {
    position: fixed;
    top: 0;
    right: -60%;
    max-width: 60%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 99999;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    transition: right .8s cubic-bezier(0.4, 0, 0.2, 1);
}

.paddingbx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.menu.on {
    right: 0;
}

.menu a {
    color: #fff;
}

.mMod7 {
    margin-bottom: 65px;
}

.mMod7 a,
.mMod10 a {
    display: inline-block;
    padding: 24px 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

.mMod7 a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/arrow.svg);
    width: 11px;
    height: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
}

.mMod10 a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/down.svg);
    width: 12px;
    height: 11px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 30px;
}

.btn_close {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/btn_close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    font-size: 0;
    text-indent: -9999px;
    z-index: 9999;
}

.btn_close2 {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-image: url(../images/btn_close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    font-size: 0;
    text-indent: -9999px;
    z-index: 9999;
}

.lMod9 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 50px 0;
    box-sizing: border-box;
    z-index: 99999;
}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    max-width: 1200px;
    height: 90vh;
}

.lMod9 .swiper-slide {
    overflow-y: auto;
}

.lMod9 img {
    width: 100%;
}

.btn_close.mobile {
    display: none;
}

.line {
    position: fixed;
    top: 0;
    right: 60%;
    background-color: #fff;
    width: 3px;
    height: 100%;
}


.btn_link.mobile {
    display: none;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.qrpopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(160, 160, 160, 0.486);
}

.qrpopup.on{
    display: flex;
}

.qrbx {
    width: 50%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.qrbx::-webkit-scrollbar {
    width: 0;
}

.qrbx .mMod3{
    margin-bottom: 0px;
}

.qrbx .mMod3 h2{
    margin:0;
    font-family: 'Noto Sans KR', serif;
    font-size:22px;
}

.save {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 5px 20px;
    box-sizing: border-box;
    line-height: 160%;
}

.info2 {
    font-size: 16px;
}

#qr {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    box-sizing: border-box;
}

#qr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 태블릿*/
@media only screen and (min-width:851px) and (max-width:1367px) {
    .paddingbx {
        padding: 50px;
    }

    .fixed {
        width: 30%;
    }

    .fixed,
    .page {
        padding: 20px 0;
    }

    .navi {
        height: 50px;
        line-height: 50px;
    }

    .section_txt {
        margin-bottom: 10px;
    }

    .ti {
        margin-top: 10px;
    }




}


/* hover */
@media only screen and (min-width:851px) {
    .btn_tel:hover {
        background-image: url(../images/btn_tel_hover.svg);
    }

    /* .btn_sms:hover {
        background-image: url(../images/btn_sms_hover.svg);
    } */

    .btn_QR:hover {
        background-image: url(../images/btn_QR_hover.png);
    }

    .mMod11 .facebook:hover {
        background-image: url(../images/facebook_hover.svg);
    }

    .mMod11 .instagram:hover {
        background-image: url(../images/instagram_hover.svg);
    }

    .mMod11 .twitter:hover {
        background-image: url(../images/twitter_hover.svg);
    }

    .mMod11 .youtube:hover {
        background-image: url(../images/youtube_hover.svg);
    }

    .btn_link:hover {
        background-image: url(../images/btn_link_hover.svg);
    }

    .mag:hover {
        background-image: url(../images/mag_hover.svg);
    }

    .navi:hover,
    .mMod7 a:hover,
    .mMod10 a:hover {
        background-color: #fff;
        color: #000;
    }

    .navi:hover::after {
        background-image: url(../images/arrow_hover.svg);
    }

    .mMod7 a:hover::after {
        background-image: url(../images/arrow_hover.svg);
    }

    .mMod10 a:hover::after {
        background-image: url(../images/down_hover.svg);
    }

    .btn_close:hover {
        background-image: url(../images/btn_close_hover.svg);
    }

    .btn_close2:hover {
        background-image: url(../images/btn_close_hover.svg);
    }

    .contentm,
    .maintitle {
        display: none;
    }

    
}