@charset "utf-8";

* {
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#wrap {
    width: 100%;
    height: 100%;
    min-width: 1200px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #a6a7a7;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}



/* 모듈 6/11 연락처 및 sns */
.topmenu {
    position: absolute;
    display: none;
    right: 50px;
    top: 100px;
    width: 400px;
    height: auto;
    color: #fff;
    z-index: 9999;
    background-color: #0f0f0f;
    border: 1px solid #7e7e7e;
    padding: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 5px rgba(20, 20, 20, 0.397);
}

.topmenu.on {
    display: block;
}

.mMod6 a {
    color: #fff;
}

.mMod6 .tel {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 40px;
}

.mMod6 .txt {
    font-weight: 100;
    line-height: 150%;
    margin-bottom: 40px;
}

.tel2,
.save {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.795) !important;
}

.save {
    margin-left: 45px;
}

.tel2::after {
    content: url(../images/arrow_white.svg);
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: 3px;
}

.save::after {
    content: url(../images/arrow_white_down.png);
    margin-left: 15px;
}


.mMod6 .tit2 {
    margin-bottom: 40px;
}



/* 모듈2 -배경사진 */
.mMod2 {
    width: 100%;
    height: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* display: none; */
}

.default {
    position: fixed;
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
}

.default::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
}

/* 서비스명/로고 박스 */

.titlebx {
    position: fixed;
    top: 0px;
    padding: 15px 0;
    padding-left: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 9999;
    transition: .6s;
}

/* 
.titlebx.on {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(252, 252, 252, 0.16);
} */

.titlebx span {
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
}



.mMod1 {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}


.modBg {
    display: flex;
    position: relative;
    width: 1080px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* 모듈3 - 메인 내용 */

.mMod3 {
    /* margin-left: 400px; */
    box-sizing: border-box;
    flex-basis: 550px;
}

.mMod3 h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

.mMod3 .txt {
    font-size: 16px;
    font-weight: 200;
}



/* 모듈7 링크 */
.modBg .mMod6 {
    position: relative;
    /* margin-right: 400px; */
    padding: 0 40px;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 35px;
    transition: background-color .6s;
}

.modBg .mMod6:hover {
    background-color: rgba(255, 255, 255, 0.301);

}

.modBg .mMod6 .tel {
    position: absolute;
    bottom: 0;
    font-size: 32px;
    font-weight: 600;
}

.modBg .mMod6 .tel::before {
    content: 'NUM';
    position: absolute;
    top: -40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.247);
    font-weight: 400;
}

.btn_tel {
    font-size: 18px;
    position: absolute;
    top: 40px;
    right: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5) !important;
}

.btn_tel::after {
    content: '';
    background-image: url(../images/arrow_white.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: 5px;
    margin-left: 10px;
    opacity: .5;
}

.btn_dot {
    position: absolute;
    top: 30px;
    right: 60px;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(../images/btn_dot.png);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-position: center;
    background-size: 5px 25px;
    background-repeat: no-repeat;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.164);
}

.scrollDown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(../images/btn_scroll_down.png);
    width: 88px;
    height: 71px;
    z-index: 999;
    opacity: .4;
    cursor: auto;
}

.content {
    width: 100%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, transparent 20%, #000 100%);
}

/* 모듈 4 - 서브 내용 */
.mMod4 {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 100px;
    box-sizing: border-box;
}

.swiper-container-horizontal>.swiper-scrollbar {
    height: 3px;
}

.mMod4 .swiper-container {
    width: 1080px;
    height: 700px;
    margin: 0 auto;
}

.mMod4 .swiper-wrapper {
    margin-top: 152px;
}



.mMod4 .swiper-slide {
    /* margin-top: 375px; */
    max-height: 77%;
    padding-top: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

.mMod4 .tit {
    font-size: 30px;
    font-weight: bold;
}

.mMod4 .txt {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 200;
    padding-right: 30px;
    box-sizing: border-box;
}

.swiper-scrollbar-drag {
    background-color: #fff;
}



.swiper-scrollbar {
    top: 42px;
    left: 0 !important;
    width: 100% !important;
    background-color: #777979;
}

.mMod4 .swiper-pagination {
    top: 105px;
    bottom: auto;
}

.mMod4 .swiper-button-next {
    background: url(../images/slider_next.svg);
    top: 105px;
    width: 64px;
    height: 46px;
    right: 0;
    z-index: 999;
    background-repeat: no-repeat;
}

.mMod4 .swiper-button-prev {
    background: url(../images/slider_prev.svg);
    top: 105px;
    width: 64px;
    left: 0;
    height: 46px;
    z-index: 999;
    background-repeat: no-repeat;
}

.linetxt {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}

.sub_section_txt {
    top: 0px;
    left: 0px;
}


/* 모듈 9 - 사진 */
.mMod9 {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.mMod9 .swiper-container {
    position: absolute;
    width: 1080px;
    height: 500px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: unset;
}



.mMod9 .swiper-slide {
    margin-top: 65px;
    width: 100% !important;
    height: 100%;
}

.mMod9 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.pic_section_txt {
    position: absolute;
    top: 0px;
    left: 0px;
}

.mMod9 .swiper-pagination {
    bottom: -110px;
}

.mMod9 .swiper-button-next {
    background: url(../images/slider_next.svg);
    width: 64px;
    height: 46px;
    bottom: -120px;
    top: auto;
    z-index: 999;
    background-repeat: no-repeat;
}

.mMod9 .swiper-button-prev {
    background: url(../images/slider_prev.svg);
    width: 64px;
    left: 0;
    height: 46px;
    bottom: -120px;
    top: auto;
    z-index: 999;
    background-repeat: no-repeat;
}

.mag {
    position: absolute;
    top: 76px;
    right: 20px;
    color: rgba(255, 255, 255, 0.726);
    z-index: 999;
    background-image: url(../images/mag.svg);
    font-size: 0px;
    text-indent: -9999px;
    width: 46px;
    height: 46px;
    background-size: 100% 100%;
}

.mag::after {
    content: '＋';
    margin-left: 15px;
}

/* 모듈 8 - 동영상 */

.mMod8 {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.iframebx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1080px;
    height: 600px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;


}

.youtube_section_txt {
    position: absolute;
    top: -40px;
    left: 0px;
}

/* 모듈 5 -지도 */

.mMod5 {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    box-sizing: border-box;
}

.pbx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1080px;
}

.gMap {
    width: 50%;
    height: 500px;
}

.map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.txtbx2 {
    width: 40%;
    margin-left: 40px;
    margin-bottom: 20px;
}

.mMod5 .ti {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.mMod5 .t {
    position: absolute;
    top: 20px;
    font-size: 30px;
}

.mMod5 .navi {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.mMod5 .navi::after {
    content: url(../images/arrow_white.svg);
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: 5px;
}

.mMod5 .ti span {
    font-weight: 200;
    font-size: 18px;
    font-weight: 600;
}

.mMod5 .txt {
    margin-top: 30px;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 30px;
}

.map_section_txt {
    top: -40px;
    left: 0;
}

/* 알리몬 */

.mSky {
    top: auto;
    bottom: 0;
}


/* 하단 */
footer {
    position: relative;
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1080px;
    justify-content: space-between;
    color: #fff;
}

.flex .linetxt {
    position: static;
    display: block;
}

.flex .mMod6 {
    position: relative;
    /* margin-right: 400px; */
    padding: 0 40px;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    background-color: #000;
    border-radius: 35px;
    border: 1px solid #fff;
}

.flex .mMod6 .tel {
    position: absolute;
    bottom: 0;
    font-size: 32px;
    font-weight: 600;
}

.flex .mMod6 .tel::before {
    content: 'NUM';
    position: absolute;
    top: -40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}



.mMod7 a {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.mMod7 a::after {
    content: '';
    background-image: url(../images/arrow_white.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
    vertical-align: 3px;
    opacity: .5;
}

.mMod10 a {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.mMod10 a::after {
    content: '';
    background-image: url(../images/ico_mod10.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
    vertical-align: 3px;
    opacity: .5;
}



.mMod7 {
    margin-bottom: 78px;
}

.mMod11 {
    margin-top: 76px;
}

.mMod11 a {
    margin-top: 30px;
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.mMod11 a+a {
    margin-left: 10px;
}

.mMod11 .instagram {
    background-image: url(../images/instagram.svg);
}

.mMod11 .facebook {
    background-image: url(../images/facebook.svg);
}

.mMod11 .twiter {
    background-image: url(../images/twitter.svg);
}

.mMod11 .youtube {
    background-image: url(../images/youtube.svg);
}


/* 사진 레이어 */

.lMod9 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 99999;

}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 756px;
}

.lMod9 .swiper-slide.swiper-slide-active {
    max-height: 756px;
    overflow-y: auto;
}

.lMod9 .swiper-slide img {
    width: 100%;
    border-radius: 20px;

}

.lMod9 .swiper-button-next {
    background: url(../images/slider_next.svg);
    width: 64px;
    height: 46px;
    z-index: 999;
    background-repeat: no-repeat;
    right: 50px;
}

.lMod9 .swiper-button-prev {
    background: url(../images/slider_prev.svg);
    width: 64px;
    height: 46px;
    z-index: 999;
    background-repeat: no-repeat;
    left: 50px;
}

.btn_close {
    position: absolute;
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    width: 33px;
    height: 33px;
    background-image: url(../images/btn_close.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
    top: 50px;
    right: 40px;
    border-radius: 50%;
    background-color: #000;
}

.btn_close.forMobile {
    display: none !important;
}



/* 호버 */
@media only screen and (min-width:1367px) {
    .btn_tel:hover {
        color: #fff !important;
    }

    .btn_tel:hover::after {
        opacity: 1;
    }

    .mMod7 a:hover,
    .mMod10 a:hover {
        color: #fff;
    }


    .mMod7 a:hover::after,
    .mMod10 a:hover::after {
        opacity: 1;
    }
}