@charset "utf-8";

@media only screen and (max-width:850px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .mMod0 {
        font-size: 18px;
    }

    .mMod1 {
        top: -35px;
        width: 60px;
        height: 60px;
        border: 3px solid #fff;
    }

    .content {
        margin-top: 50px;
        padding-top: 65px;
        border: 3px solid #fff;
        margin-bottom: 80px;
    }



    .birth {
        width: 80%;
    }

    .background {
        width: 60%;
        padding-top: 60%;
        border: 3px solid #fff;
        margin-bottom: 75px;
    }

    .invite {
        width: 80%;
        bottom: -13%;
    }

    .mMod3 {
        margin-bottom: 50px;
    }

    .mMod3 h2 {
        font-size: 30px;
        margin-bottom: 7px;
    }

    .mMod3 .txt {
        font-size: 16px;
    }

    .deco {
        width: 40%;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin-top: 35px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .mMod4 {
        margin-bottom: 50px;
    }

    .mMod4 .tit {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .mMod4 .txt {
        font-size: 14px;
    }

    .mMod9 {
        width: 100%;
    }

    .mMod9 .swiper-slide {
        margin-bottom: 20px;
    }

    .mMod9 img {
        border: 3px solid #fff;
    }

    .mMod8 {
        width: 100%;
        margin-bottom: 50px;
    }

    .iframebx {
        border: 3px solid #fff;
        padding-top: 56%;
    }

    .t {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .ti,
    .tx {
        font-size: 15px;
    }

    .ti {
        margin-bottom: 20px;
    }

    .txtbx {
        margin-bottom: 30px;
    }

    .gMap {
        width: 100%;
        height: 300px;
        border: 3px solid #fff;
    }

    .navi {
        bottom: -23px;
        width: 50px;
        height: 50px;
    }

    .mapbx {
        margin-bottom: 50px;
    }

    .tel {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .mMod6 .txt {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .btn_tel,
    .btn_sms {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;

    }

    .btn_tel {
        margin-right: 10px;
    }

    .btn_sms {
        display: inline-block;
    }

    .mMod7 {
        margin-bottom: 40px;
    }


    .mMod7 a {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .mMod10,
    .qrbox {
        border-top: 3px solid #fff;
    }

    .mMod10 a,
    .qrbox a {
        padding: 20px 30px;
        padding-right: 40px;
        font-size: 15px;
    }

    .mMod10 a::before,
    .qrbox a::before {
        content: '';
        background-image: url(../images/down_m.png);
        width: 12px;
        height: 14px;
        vertical-align: -2px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 10px;
    }

    .mMod10 a::after,
    .qrbox a::after {
        display: none;
    }

    .mMod11 {
        display: none;
    }

    .btn_close {
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-size: 20px 20px;
    }

    .mMod9 .swiper-slide p {
        font-size: 14px;
        color: #fff;
    }

    .qrpopup {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .qrbx {
        width: 70%;
        padding: 20px 0;
        box-sizing: border-box;
        max-height: 100%;
    }

    .qrbx .mMod3 h2 {
        font-size: 25px;
    }

    .qrbx .mMod3::after {
        display: none;
    }

    .close2 {
        top: 30px;
        left: auto;
        right: 30px;
        transform: none;
        width: 40px;
        height: 40px;
    }
}