@charset "utf-8";

@media only screen and (max-width:1366px) {



    body {
        -webkit-overflow-scrolling: touch;
    }

    body.on {
        -webkit-overflow-scrolling: auto;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }


    .forWeb {
        display: none !important;
    }

    .forMobile {
        display: block !important;
    }

    html,
    body,
    #wrap {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content {
        height: auto;
    }

    .mMod2 {
        box-sizing: border-box;
        height: calc(100% - 60px);
    }

    .btn_tel {
        position: absolute;
        right: 90px;
        font-size: 0px;
        text-indent: -9999;
        background-image: url(../images/ico_mod6.png);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #00f0a1;
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }

    .modBg {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: none;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: flex-start;
    }

    .mMod1 {
        position: relative;
        left: unset;
        top: unset;
        left: unset;
        transform: none;
    }

    .maintitle {
        width: 90%;
        position: unset;
        left: unset;
        bottom: unset;
        top: auto;
        transform: none;
        text-align: justify;
        word-break: normal;
    }

    .mMod0 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .mMod3 h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .mMod3 .txt {
        font-size: 14px;
    }

    .mMod6 .txt {
        font-size: 14px;
    }


    .mMod8 {
        padding: 50px 20px;
        box-sizing: border-box;
        height: auto;

    }


    .iframebx {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        width: 100%;
        height: 0;
        padding-top: 56.5%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .mMod4 {
        padding: 50px 20px;
        height: auto;
        box-sizing: border-box;
    }

    .mMod4 .tit {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .mMod4 .txt {
        padding: unset;
        font-size: 14px;
        word-break: normal;
    }

    .mMod4 .swiper-container {
        height: auto;
        padding: 30px 20px;
    }

    .pbx {
        position: unset;
        width: 100%;
        transform: none;
    }

    .swiper-button-next::before,
    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 50%;
        transform: translateY(-50%);
        margin-top: unset;
    }

    .swiper-button-prev {
        left: 25px;
    }

    .swiper-button-next {
        right: 25px;
    }




    .mMod9 {
        height: auto;
        padding: 50px 20px;
        box-sizing: border-box;
    }

    .mMod9 .swiper-slide img {
        height: 300px;
    }

    .mMod9 .swiper-slide p {
        -webkit-line-clamp: unset;
    }


    .mMod9 .swiper-button-prev {
        background-image: url(../images/btn_slide_prev02.png);
    }

    .mMod9 .swiper-button-next {
        background-image: url(../images/btn_slide_next02.png);
    }

    .mag {
        top: 10px;
        right: 10px;
        font-size: 0px;
        text-indent: -9999px;
        z-index: 99;
        background-image: url(../images/mag.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .mag::before {
        display: none;
    }


    .mMod5 {
        height: auto;
        padding: 50px 20px 100px 20px;
        box-sizing: border-box;
    }

    .flex {
        flex-direction: column;
        border-radius: 0 0 10px 10px;
        height: auto;
        align-items: unset;
    }

    .gMap {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 83%;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .txtbx {
        width: 100%;
        padding: 30px 20px;
    }

    .lMod9 {
        width: 100%;
        height: 100%;
    }

    .lMod9 .swiper-container {
        left: auto;
        transform: translateY(-50%);
        width: 100%;
        height: 100vh;
    }

    .lMod9 .swiper-slide {
        line-height: 100vh;
        overflow-y: unset;
    }

    .lMod9 .swiper-slide.swiper-slide-active {
        max-height: 100vh;
        overflow-y: auto;
    }

    .btn_close {
        font-size: 0px;
        text-indent: -9999px;
        z-index: 9999;
        width: auto;
        top: 65px;
        right: 35px;
    }

    .gnb {
        position: absolute;
        height: 60px;
        top: auto;
        bottom: 0;
    }

    .gnb.on a::after {
        background-image: url(../images/btn_close.png);
    }

    .open {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #01f8a7;
        font-size: 16px;
    }

    .open::after {
        content: '';
        background-image: url(../images/mag.png);
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: -4px;
        margin-left: 10px;
    }

    .hiddenMobile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        background-color: #0c0c0c;
        z-index: 9999;
        padding: 50px 20px;
        box-sizing: border-box;
        overflow-y: auto;
    }


    .hiddenMobile.on {
        display: block !important;
    }

    .hiddenMobile .mMod1 {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .hiddenMobile .mMod6 {
        color: #fff;
        width: 100%;
        text-align: center;
    }

    .hiddenMobile .mMod6 .tit:first-of-type {
        display: block;
    }

    .hiddenMobile .mMod6 .tit:first-of-type .tel::before {
        display: none;
    }

    .hiddenMobile .mMod6 .tit a {
        color: #fff;
        font-size: 25px;
    }



    .hiddenMobile .mMod6 .txt {
        margin-bottom: 20px;
    }

    .mMod6 .telbx {
        width: 100%;
        margin-right: 0;
    }

    .hiddenMobile .mMod6 .telbx {
        width: 100%;
        margin-right: 0;
        background-color: #424347;
    }

    .hiddenMobile .mMod6 .telbx a {
        font-size: 16px !important;
        color: #01f8a7 !important;
    }

    .hiddenMobile .mMod6 .telbx a::before {
        content: '';
        background-image: url(../images/ico_mod6_02.png);
        display: inline-block;
        width: 16px;
        height: 16px;
    }

    .hiddenMobile .mMod6 .savebx {
        padding: 0 30px;
        box-sizing: border-box;
        width: 50%;
        background-color: #424347;
        text-align: right;
    }



    .hiddenMobile .mMod6 .savebx a {
        position: relative;
        font-size: 16px !important;
        text-indent: unset;
        width: 100%;
        height: unset;
        background: unset;
        color: #01f8a7 !important;
    }

    .hiddenMobile .mMod6 .savebx a::before {
        content: '';
        position: absolute;
        background-image: url(../images/ico_save02.png);
        display: inline-block;
        width: 13px;
        height: 18px;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    .mMod7 {
        width: 100%;
        margin-bottom: 40px;
    }

    .mMod7 a {
        background-color: #424347;
    }

    .mMod10 {
        width: 100%;
    }

    .mMod10 a {
        position: relative;
        display: inline-block;
        width: 100%;
        color: #fff;
        background-color: #424347;
        border-radius: 10px;
        line-height: 120%;
        height: auto;
        padding: 22px 30px;
        box-sizing: border-box;
        text-align: left;
    }

    .mMod10 a::after {
        content: '';
        background-image: url(../images/ico_mod10.svg);
        position: absolute;
        width: 18px;
        height: 18px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }

    .mSky.on {
        display: none;
    }

    .btn_QR {
        position: absolute;
        right: 20px;
        background-image: url(../images/btn_QR_m.png);
    }

    .qrpopup {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .qrbx {
        width: 70%;
        padding: 20px 0;
        box-sizing: border-box;
        max-height: 100%;
    }

    .qrbx .mMod3 h2 {
        font-size: 25px;
    }

    .qrbx .mMod3::after {
        display: none;
    }

    .close2 {
        top: 30px;
        left: auto;
        right: 30px;
        transform: none;
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width:320px) {

    .modBg {
        padding: 30px 0;
    }

    .mMod0 {
        margin-bottom: 10px;
    }

    .mMod3 h2 {
        font-size: 20px;
    }

    .mMod3 .txt {
        margin-bottom: 15px;
    }

    .modBg .mMod6 .telbx {
        height: 45px;
        line-height: 45px;

    }

    .modBg .mMod6 .savebx {
        height: 45px;
        line-height: 45px;
    }

    .modBg .mMod6 .tel {
        font-size: 16px;
    }

    .modBg .mMod6 .tel::before {
        background-position: unset;
        background-size: 100%;
        width: 15px;
        height: 15px;
    }

    .modBg .mMod6 .save {
        width: 15px;
        height: 24px;
        background-position: unset;
        background-size: 100%;
    }

    .modBg .mMod6 .tit {
        margin-bottom: 15px;
    }


}


@media (orientation: landscape) and (max-height:540px) {
    .mMod2 {
        height: 150vh !important;
    }
}

@media (orientation: landscape) and (max-height:320px) {
    .mMod2 {
        height: 180vh !important;
    }
}

@media only screen and (max-width:280px) {
    .modBg .mMod6 .tel {
        font-size: 14px;
    }
}