@charset "utf-8";

html,
body {
    width: 100%;
}

html.on,
body.on {
    overflow: hidden;
}

h2,
.tit,
.t {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}

#wrap {
    width: 100%;
}

.mMod2 {
    width: 100%;
    min-height: 100vh;
    background-color: #edeaf0;
    padding: 20px;
    box-sizing: border-box;
}

.mainbx {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 165px 50px 139px 50px;
    box-sizing: border-box;
}

.background {
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 3px solid #000;
    box-sizing: border-box;
}

.happy {
    position: absolute;
    top: -114px;
    left: -139px;
    animation: happy 1.4s ease-in-out infinite alternate;
}

@keyframes happy {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

.star {
    position: absolute;
    left: -109px;
    top: 104px;
    animation: star 3s linear infinite;
}

@keyframes star {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hat {
    position: absolute;
    top: -157px;
    right: 148px;
}

.line {
    position: absolute;
    top: 46px;
    right: -103px;
    animation: line 1.5s ease-in-out infinite alternate;
}

@keyframes line {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-40deg);
    }
}


.bubble1 {
    position: absolute;
    bottom: 94px;
    left: -90px;
    animation: bubble 2s ease-in-out infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0px);
    }


    100% {
        transform: translateY(30px);
    }
}

.bubble2 {
    position: absolute;
    bottom: 164px;
    left: -138px;
    animation: bubble 2.5s ease-in-out infinite alternate;
}

.heart {
    position: absolute;
    top: 237px;
    right: -87px;
    animation: heart 2s ease-in-out infinite alternate;
}

@keyframes heart {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(30deg);
    }
}


.letter {
    position: absolute;
    bottom: 20px;
    right: -45px;
    animation: letter 2s ease-in-out infinite alternate;
}

@keyframes letter {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}

.cakebx {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.light {
    transform: scale(.0);
}

.yellow1 {
    position: absolute;
    top: -17px;
    left: 153px;
    animation: light .5s linear infinite alternate;
}


.yellow2 {
    position: absolute;
    top: -51px;
    left: 276px;
    animation: light .5s linear .4s infinite alternate;

}

.white1 {
    position: absolute;
    top: -88px;
    left: 191px;
    animation: light .5s linear .7s infinite alternate;

}

.white2 {
    position: absolute;
    top: 19px;
    left: 270px;
    animation: light .5s linear .9s infinite alternate;

}

@keyframes light {
    0% {
        transform: scale(.3);
    }


    100% {
        transform: scale(.7);
    }
}


.maintitlebx {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 138px;
    box-sizing: border-box;
}


.mMod0 {
    font-size: 24px;
}

.mMod3 h2 {
    margin-top: 48px;
    font-size: 40px;
}

.mMod3 .txt {
    font-size: 25px;
    margin-top: 30px;
}

.content {
    position: relative;
    padding: 120px 30px;
    box-sizing: border-box;
    background-color: #fff;
}


.mMod1 {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 102px;
    height: 102px;
    background-color: #fff;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;


    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translate3d(0, 0, 0);
    -moz-transform: translateX(-50%) translate3d(0, 0, 0);
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;

}

.mMod4 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 126px;
}

.mMod4 .tit {
    margin-top: 45px;
    font-size: 28px;
    font-weight: 600;
}

.mMod4 .txt {
    font-size: 18px;
    margin-top: 35px;
}

.swiper-pagination {
    position: static;

}



.swiper-pagination-bullet {
    border: 2px solid #000;
    background-color: #fff;
    opacity: 1;
    margin: 0 7px;
}

.swiper-pagination-bullet-active {
    background-color: #f8df00;
}

.mMod9 {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.mMod9 .swiper-container {
    height: auto;
}

.mMod9 .swiper-slide {
    box-sizing: border-box;
}

.mMod9 img {
    border: 3px solid #000;
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-sizing: border-box;
}

.mMod9 .swiper-pagination {
    margin-top: 30px;
}

.btnbx {
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    margin: 0;
    transform: translateY(-50%);
    left: auto;
    width: 12px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.swiper-button-next {
    background-image: url(../images/btn_slide_next.png);
}

.swiper-button-prev {
    background-image: url(../images/btn_slide_prev.png);
    right: 40px;
}

.mMod5 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border: 3px solid #000;
    margin-bottom: 55px;
    box-sizing: border-box;
}

.txtbx {
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    width: 45%;
}

.t {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.ti {
    font-size: 16px;
}

.tx {
    font-size: 16px;
}

.ti::after {
    content: '';
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.gMap {
    width: 55%;
    height: 470px;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.navi {
    position: absolute;
    bottom: 40px;
    width: 184px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.navi::before {
    content: '';
    background-image: url(../images/navi.png);
    width: 18px;
    height: 21px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -2px;
}

.mMod8 {
    max-width: 1200px;
    margin: 0 auto;
    height: 579px;
    border: 3px solid #000;
    box-sizing: border-box;
    margin-bottom: 65px;
}

iframe {
    width: 100%;
    height: 100%;
}

.mMod6 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.mMod6 .tit {
    font-size: 20px;
    margin-bottom: 15px;
}

.mMod10, .qrbox {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.mMod10 a, .qrbox a{
    display: inline-block;
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.mMod10 a::before, .qrbox a::before{
    content: '';
    background-image: url(../images/download.png);
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: -2px;
}

.mMod11 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mMod11 a {
    font-size: 0;
    text-indent: -9999px;
    width: 46px;
    height: 46px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 40px;
}

.mMod11 a+a {
    margin-left: 10px;
}

a.facebook {
    background-image: url(../../common/images/ico_facebook.png);
}

a.instagram {
    background-image: url(../../common/images/ico_instagram.png);
}

a.twitter {
    background-image: url(../../common/images/ico_twitter.png);
}

a.youtube {
    background-image: url(../../common/images/ico_youtube.png);
}

.mMod7 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mMod7 a {
    display: inline-block;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mMod7 a:last-child {
    margin-right: 0;
}

.mMod7 a::after {
    content: '';
    background-image: url(../images/link.png);
    width: 6px;
    height: 11px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 70px;
}

.lMod9 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #edeaf0;
    z-index: 99999;
    display: none;
}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    height: 800px;
}

.lMod9 .swiper-slide {
    max-height: 100%;
    overflow-y: auto;
}

.lMod9 .swiper-slide::-webkit-scrollbar{
    width: 4px;
}
.lMod9 .swiper-slide::-webkit-scrollbar-thumb{
    background-color: #f8df00;
}
.lMod9 .swiper-slide::-webkit-scrollbar{
    background-color: #000;
}

.lMod9 img {
    width: 100%;
}

.btn_close {
    position: fixed;
    top: 30px;
    right: 40px;
    font-size: 0;
    text-indent: -9999px;
    background-image: url(../images/btn_close.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
}

.mobile {
    display: none;
}


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.qrpopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(160, 160, 160, 0.486);
}

.qrpopup.on{
    display: flex;
}

.qrbx {
    width: 50%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.qrbx::-webkit-scrollbar {
    width: 0;
}

.qrbx .mMod3{
    margin-bottom: 0px;
}

.qrbx .mMod3 h2{
    margin:0;
    font-family: 'Noto Sans KR', serif;
    font-size:22px;
}

.save {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 5px 20px;
    box-sizing: border-box;
    line-height: 160%;
}

.info2 {
    font-size: 16px;
}

#qr {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    box-sizing: border-box;
}

#qr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}