@charset "utf-8";

.content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px 20px 80px 20px;
    box-sizing: border-box;
}

.mMod4 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 28px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}


.mMod4 .swiper-slide+.swiper-slide {
    margin-top: 60px;
}

.mMod4 .tit {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
}

.mMod4 .txt {
    font-size: 16px;
    margin-top: 13px;
}

.mMod4::after {
    content: '';
    display: block;
    width: 5%;
    border-bottom: 3px solid #000;
    margin: 0px auto;
    margin-top: 40px;
}


.mMod6 {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.mMod6 .tit {
    font-size: 20px;
}

.mMod6 .txt {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}



.btn_tel,
.btn_sms {
    position: relative;
    display: inline-block;
    padding-top: 60px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;

}

.btn_tel {
    margin-right: 40px;
}

.btn_tel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../new_images/btn_tel.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_sms::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../new_images/btn_sms.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.mMod7 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.mMod7 a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-right: 40px;
    margin-bottom: 10px;
}


.mMod11 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.mMod11 a {
    font-size: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}


.mMod11 a+a {
    margin-left: 25px;
}



a.facebook {
    background-image: url(../new_images/facebook.png);
}

a.twitter {
    background-image: url(../new_images/twitter.png);
}

a.instagram {
    background-image: url(../new_images/instagram.png);
}

a.youtube {
    background-image: url(../new_images/youtube.png);
}


.mMod5 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.gMap {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #000;
    width: 100%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}


.txtbx {
    margin-top: 38px;
    padding: 0 50px;
    box-sizing: border-box;
}

.t {
    font-size: 20px;
    font-weight: 600;
}

.ti {
    margin-top: 13px;
    font-size: 17px;
    margin-bottom: 30px;
}


.tx {
    margin-top: 16px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
}


.navi {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
}

.navi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../new_images/navi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.mMod9 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 650px;
    margin-bottom: 50px;
}



.mMod9 .swiper-container {
    width: 100%;
    height: 100%;
}

.mMod9 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.swiper-pagination {
    position: static;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    margin: 10px;
    border-radius: 0;
}




.mMod8 {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.iframebx {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: 600px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

iframe {
    width: 100%;
    height: 100%;
}

.mMod10 {
    max-width: 1200px;
    text-align: center;
    margin: 0px auto;
}

.mMod10 a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
    box-sizing: border-box;
}

.mMod10 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../new_images/btn_down.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lMod9 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    box-sizing: border-box;
}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    max-width: 1200px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lMod9 .swiper-slide {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.lMod9 .swiper-slide::-webkit-scrollbar {
    width: 3px;
}

.lMod9 .swiper-slide::-webkit-scrollbar-thumb {
    background-color: #000;
}

.swiper-slide::-webkit-scrollbar-track {
    background-color: #ccc;
}

.btn_close {
    position: fixed;
    font-size: 0;
    text-indent: -9999px;
    top: 30px;
    right: 40px;
    background-image: url(../new_images/btn_close.png);
    width: 40px;
    height: 40px;
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99999;
}

.lMod9 img {
    width: 100%;
    max-height: unset;
}


@media only screen and (max-width:850px) {

    * {
        -webkit-tap-highlight-color: transparent;
    }


    .mMod4 {
        margin-bottom: 30px;
    }

    .mMod4 .tit {
        font-size: 22px;
    }

    .mMod4 .txt {
        margin-top: 10px;
        font-size: 15px;
    }

    .mMod4::after {
        width: 15%;
        margin-top: 30px;
    }

    .mMod6 .txt {
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .btn_tel,
    .btn_sms {
        padding-top: 50px;
    }

    .btn_tel::before,
    .btn_sms::before {
        width: 40px;
        height: 40px;
    }

    .mMod7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }


    .mMod7 a {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mMod7 a:last-child {
        margin-bottom: 0;
    }

    .mMod11 {
        display: none;
    }

    .mMod5 {
        margin-bottom: 50px;
    }

    .gMap {
        height: 300px;
    }


    .txtbx {
        margin-top: 20px;
    }

    .ti {
        margin-top: 7px;
        font-size: 16px;
        margin-bottom: 18px;
    }

    .tx {
        margin-top: 16px;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 150%;
    }

    .navi {
        padding-top: 50px;
    }

    .navi::before {
        width: 40px;
        height: 40px;
    }


    .mMod9 {
        height: 350px;
        margin-bottom: 50px;
    }

    .mMod8 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .iframebx {
        position: relative;
        height: 0;
        padding-top: 56%;
    }


    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mMod10 a {
        padding-top: 50px;
    }

    .mMod10 a::before {
        width: 40px;
        height: 40px;
    }

    .lMod9 .swiper-container {
        position: relative;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        line-height: calc(var(--vh, 1vh) * 100);
    }


    .btn_close {
        top: 20px;
        right: 20px;
    }
}