@charset "utf-8";

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #5162ff;
}

html,
body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../image/body.jpg) no-repeat center/cover;
}


h2,
.tit,
.mMod0,
.ti,
.t,
.tel {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}


#wrap {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 900px;
    box-shadow: 0 0 4px 1px rgba(155, 155, 155, 0.425);
    border-radius: 10px;
    overflow: hidden;
}

.top {
    position: relative;
    width: 100%;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #000;
}

.top li {
    display: none;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top li span {
    display: inline-block;
}

.top li.on {
    display: block;
}


.bottom {
    width: 100%;
    background-color: #fff;
    height: 70px;
}

.bottom ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0px 50px;
    box-sizing: border-box;
}


.bottom ul li a {
    font-size: 0;
    display: inline-block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.bottom ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.bottom ul li.on::before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    border-top: 3px solid #000;
}

.home {
    background-image: url(../image/home.png);
}

.home.on {
    background-image: url(../image/home_hover.png);
}

.top .first span {
    transform: translateY(0%);
}

.text {
    background-image: url(../image/text.png);
}

.text.on {
    background-image: url(../image/text_hover.png);
}

.media {
    background-image: url(../image/camera.png);
}

.media.on {
    background-image: url(../image/camera_hover.png);
}

.bottom .address {
    background-image: url(../image/address.png);
    background-size: 18px auto;
}

.bottom .address.on {
    background-image: url(../image/address_hover.png);
}

.bottom .about {
    background-image: url(../image/about.png);
    background-size: 20px auto;
}

.bottom .about.on {
    background-image: url(../image/about_hover.png);
}

.mainslide {
    flex: 1;
    overflow: hidden;
}

.mainslide>.swiper-wrapper>.swiper-slide {
    background-color: #fff;

}


/* 1st slide */
.mMod2 {
    height: 100%;
    overflow-y: auto;
}

.mMod1 {
    position: relative;
    width: 65px;
    height: 65px;
    margin-right: 15px;
    box-shadow: 0 0 4px 1px rgba(104, 104, 104, 0.233);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.mMod0 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    z-index: 1;
}

.ham {
    position: absolute;
    right: 20px;
}

.logobx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 350px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.iconbx {
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.iconbx a {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
    text-indent: -9999px;
}



.star {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background-image: url(../image/star.png);
}


.btn_sms {
    background-image: url(../image/sms.png);
}



.btn_tel {
    background-image: url(../image/tel.png);
    margin-right: 15px;
}



.mMod3 {
    padding: 10px 30px;
    box-sizing: border-box;
}

.mMod3 h2 {
    font-size: 25px;
}

.mMod3 .txt {
    font-size: 18px;
    margin-top: 5px;
    font-weight: normal;
}


.mMod7 {
    padding: 10px 30px;
    box-sizing: border-box;
}

.mMod7 a {
    font-size: 16px;
    color: #5162ff;
}

.mMod7 a::before {
    content: '#';
}

.mMod7 a+a {
    margin-left: 5px;
}



/* 2nd slide */
.mMod4 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 50px;
    padding-bottom: 10px;
    box-sizing: border-box;
}


.mMod4 .swiper-slide {
    height: auto;
    margin: 0 auto;
    /* transform: translateX(50%); */
    /* opacity: 0; */
}

/* .mMod4 .swiper-slide:nth-child(even) {
    transform: translateX(-50%);
    opacity: 0;
} */

.mMod4 .tit {
    display: inline-block;
    position: relative;
    font-size: 23px;
    font-weight: 700;
    box-sizing: border-box;
}

.number {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: 1px;
    border-radius: 50%;
    background-color: #5c47fd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.mMod4 .txt {
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 20px;
}

.mMod4 .swiper-slide {
    padding-bottom: 40px;
    box-sizing: border-box;
}


.mMod4 .swiper-slide+.swiper-slide {
    padding-top: 40px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
}





/* 3rd slide */
.gallery {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


.mMod9 {
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
}

.mMod9 .swiper-slide {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.mMod9 .swiper-slide::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../image/mag.png);
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}


.mMod9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mMod8 {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 50%;
    /* transform: scale(0.5); */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 4th slide */

.mMod5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.gMap {
    width: 100%;
    min-height: 300px;
    flex: 1;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.txtbx {
    padding: 30px;
    box-sizing: border-box;
}

.t {
    font-size: 22px;
}


.ti {
    font-size: 16px;
    margin-top: 10px;
}

.tx {
    font-size: 16px;
    margin-top: 20px;
}

.navi {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    padding: 15px 0px;
    box-sizing: border-box;
    text-align: center;
    width: 180px;
    background-color: #5c47fd;
    color: #fff;
    border-radius: 10px;
}

.navi::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../image/navi.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}


/* last slide */
#wrap .mainslide .last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #000; */
    background-color: #000;
    color: #fff;
}

.scroll {
    overflow-y: auto;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.bar{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 3px;
    background-color: #fff;
}

.last a {
    color: #fff;
}

.last .mMod1 {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.last .mMod0 {
    font-size: 20px;
    margin-top: 15px;
}

.mMod6 {
    margin-top: 20px;
}

.mMod6 .tit {
    font-size: 25px;
}

.mMod6 .txt {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

.mMod10 {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #585959;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.mMod10 a::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../image/down.png);
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: -10px;
    margin-right: 15px;
}

.mMod11 {
    margin-top: 20px;
}

.mMod11 a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
    text-indent: -9999px;
}

.mMod11 .facebook {
    background-image: url(../image/facebook.png);
}

.mMod11 .instagram {
    background-image: url(../image/instagram.png);
}

.mMod11 .twitter {
    background-image: url(../image/twitter.png);
}

.mMod11 .youtube {
    background-image: url(../image/youtube.png);
}

.mMod11 a+a {
    margin-left: 5px;
}

.preload {
    width: 0;
    height: 0;
    overflow: hidden;
}


/* qr popup */
.qrpopup {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
}

.qrpopup.on {
    display: flex;
}

.qrbx {
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow-y: auto;
    padding: 30px 0;
}

.w100{
    width: 100%;
}

#qr {
    position: relative;
    width: 70%;
    height: 0;
    padding-top: 70%;
    text-align: center;
    margin: 0 auto;
}

#qr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_close {
    position: absolute;
    top: 30px;
    background-image: url(../image/btn_close.png);
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9999;
}

.close2{
    position: unset;
    display: inline-block;
    margin-top: 50px;
}


.info{
    display: inline-block;
    margin-top: 20px;
}


.info1{
    font-size: 25px;
    font-weight: 600;
}

.info2{
    font-size: 16px;
}

.lMod9 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    display: none;
}

.lMod9 .swiper-container {
    max-width: 1200px;
    line-height: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    margin: 0 auto;
}

.lMod9 .swiper-slide {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.lMod9 .swiper-slide::-webkit-scrollbar {
    width: 5px;
}

.lMod9 .swiper-slide::-webkit-scrollbar-thumb {
    background-color: #5162ff;
}

.lMod9 .swiper-slide::-webkit-scrollbar-track {
    background-color: #000;
}

.close1 {
    position: fixed;
    top: 30px;
    right: 30px;
}

.lMod9 img {
    width: 100%;
}

.swiper-zoom-container {
    height: auto;
}

@media only screen and (min-width:851px) {


    .star:hover {
        background-image: url(../image/star_hover.png);
    }

    .btn_sms:hover {
        background-image: url(../image/sms_hover.png);
    }

    .btn_tel:hover {
        background-image: url(../image/tel_hover.png);
    }


}
