@charset "utf-8";

@import url(../css/msky.css);

@media only screen and (max-width:850px) {
    .forWeb{
        display: none;
    }

    .forMobile{
        display: block;
    }

    ::-webkit-scrollbar {
        width: 0;
    }


    #wrap {
        min-width: unset;
        overflow: hidden;
    }



    .titlebx {
        display: block;
    }

    /* 서비스명 */
    .mMod0 {
        padding-top: unset;
    }

    .mMod2 {
        width: 100%;
        height: 100%;
    }

    .mMod2 .modBg {
        width: 100%;
        height: 100%;
        left: unset;
        padding: 20px;
        box-sizing: border-box;
    }

    /* 로고 */
    .mMod1 {
        border-radius: 50%;
        overflow: hidden;
        width: 55px;
        height: 55px;
        line-height: unset;
        margin-bottom: 20px;
    }

    .mMod1 img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }

    /* sns 숨김 */
    .mMod11>a {
        display: none;
    }

    /* 메인 타이틀 */
    .mMod3 {
        position: absolute;
        bottom: 80px;

    }

    .mMod3.forMobile{
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 70%;
        margin-bottom: 20px;
    }

    .mMod3 h2 {
        font-size: 26px;
        letter-spacing: -1px;
    }

    .mMod3 p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -1px;
    }


    /* 전화걸기 */
    .mMod11 .forWeb {
        display: none;
    }

    /* .mMod11 .forMobile {
        display: block;
        z-index: 2;
    } */
    /* 
    .mMod11 .tel::after {
        display: none;
    }

    .mMod11 {
        position: absolute;
        bottom: 20px;
        left: 20px;
    } */

    .flex{
        bottom: 20px;
        left: 20px;
    }

    .connectbx {
        position: absolute;
        border: 1px solid #ffffff;
        background-color: unset;
        padding: 9px 0px;
        border-radius: 30px;
        text-align: right;
        width: 121px;
        font-size: 16px;
        transition: opacity .6s;
        z-index: 9999;
    }

    .connect {
        color: #fff;
        padding-right: 20px;
    }

    .connect::before {
        content: url(../images/tel_ico.png);
        position: absolute;
        top: 5px;
        left: 13px;
        transform: scale(.5);
    }

    .connectbx.on {
        opacity: 0;
    }


    /* 모바일 메뉴 슬라이드 열기 버튼 */
    .btn_menu_slide_white {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(.6);
        bottom: 3px;
        background-image: url(../images/btn_menu_slide_m.png);
        background-repeat: no-repeat;
        font-size: 0;
        text-indent: -9999px;
        width: 80px;
        height: 80px;
        z-index: 2;
        transition: opacity .6s;

        animation: menu_slide 1s ease-in-out infinite alternate;
    }

    .btn_menu_slide_white.on {
        opacity: 0;
        animation: unset;
    }

    @keyframes menu_slide {
        from {
            bottom: 3px;
        }

        to {
            bottom: 12px;
        }
    }

    /* 알리몬 */
    .mSky {
        top: unset;
        bottom: 14px;
    }




    /* 컨텐츠 */
    .content.forMobile {
        display: block;
        top: 0;
        transform: unset;
        width: 100%;
        height: 100%;
        max-height: unset;
        background-color: unset;
        border-radius: unset;
        background: transparent;
        z-index: 1;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: touch;

        /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, #000 90%); */
    }


    .contentBG {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, #000 90%);
        opacity: 0;
        transition: opacity .6s;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: touch;

    }


    .content.on.forMobile {
        right: unset;
    }

    .content .forWeb {
        display: none;
    }


    .content .forMobile {
        display: block;
    }

    .module {
        position: absolute;
        top: 100%;
        padding: 65px 0 0;
        width: 100%;
        height: auto;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;

        /* firefox */
        scrollbar-width: none;
        /* ie,edge */
        -ms-overflow-style: none;
        /* iOS scroll */
        transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: touch;
    }

    /* 메뉴 슬라이드 버튼 */
    .menu_slidebx {
        position: fixed;
        top: -30%;
        width: 100%;
        text-align: center;
        z-index: 999999;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translateZ(0);
        -webkit-overflow-scrolling: touch;
    }


    .btn_menu_slide_m {
        position: unset;
        top: unset;
        left: unset;
        transform: rotate(90deg);
        display: inline-block;
        background-image: url(../images/btn_menu_slide.png);
        background-repeat: no-repeat;
        width: 56px;
        height: 56px;
        font-size: 0;
        text-indent: -9999px;
    }

    .btn_menu_slide.on {
        left: unset;
    }

    /* 링크 */
    .mMod7 {
        background-color: #3e6dda;
        color: #fff;
        width: 100%;
        margin: 15px 0;
        padding: 5px 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .mMod7 a {
        color: #fff;
        margin-top: unset;
        border-radius: unset;
        padding: unset;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 300;
        border: unset;
    }

    .mMod7 a+a {
        border-top: 1px solid #fff;
    }

    .mMod7 a::after {
        content: url(../images/ico_mod7_02.png);
        transform: scale(.6);
        right: 0;
    }

    /* 동영상 */
    .mMod8 {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.3%;
    }

    .mMod8 iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }


    /* 컨텐츠 내용 */
    .mMod4 {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 30px;
    }

    .mMod4 .swiper-slide {
        border: unset;
        border-radius: unset;
        padding: 20px 0;
    }

    .mMod4 .swiper-slide+.swiper-slide {
        margin-top: unset;
        border-top: 1px solid #ddd;
    }


    /* 다운로드 */
    .mMod10 a {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 300;
    }

    .mMod10 a::before {
        display: none;
    }

    .mMod10 a::after {
        content: url(../images/ico_mod10.png);
        position: absolute;
        right: 20px;
        transform: scale(.6);
    }

    /* 사진 */
    .btn_more_m {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 55px;
        z-index: 99;
    }

    .swiper-pagination {
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999;
    }

    .swiper-pagination-bullet {
        background: #fff;
        margin: 0 5px;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        background: #3e6dda;
        width: 12px;
        height: 12px;
        vertical-align: -1px;
    }


    /* 지도 */
    .mMod5 {
        margin: unset;
        margin-top: 50px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 0;
    }

    .mMod5 .t {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .mMod5 .ti {
        margin: 15px 0;
        align-items: center;
    }


    .gMap {
        margin: 30px 0;
        width: 100%;
        height: 0;
        padding-top: 90%;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: unset;
        border: none;
        border-top: 1px solid #bdbdbd;
        border-bottom: 1px solid #bdbdbd;
    }

    .navi.forWeb {
        display: none;
    }

    .navi {
        text-indent: -9999px;
        font-size: 0px;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        padding: unset;
        background-image: url(../images/ico_navi.png);
        background-repeat: no-repeat;
        background-position: 55% 50%;
        background-size: 35%;
        right: 10px;
        left: unset;
        background-color: #3e6dda;
    }

    .navi::before {
        display: none;
    }

    .mMod5 .tx {
        padding: 0 20px;
    }

    /* 연락처 */
    .mMod6 {
        color: #fff;
    }

    .mMod6 a {
        display: block;
        font-size: 18px;
        color: #fff;
    }

    .mMod6 .tel {
        position: relative;
        background-color: #3e6dda;
        border-radius: 10px;
        text-align: center;
        padding: 15px 0;
        margin: 15px 0;
    }

    .mMod6 .tel::before {
        content: url(../images/tel_ico.png);
        position: absolute;
        left: 30px;
        transform: scale(.8);
        top: 13px;
    }

    .mMod6 .save {
        position: relative;
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;
        padding: 15px 0;
        margin: 15px 0;
    }

    .mMod6 .save::before {
        content: url(../images/ico_mod6.png);
        position: absolute;
        left: 26px;
        top: 12px;
        transform: scale(.6);
    }

    .mMod6 .txt {
        display: block;
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;

    }

    .mMod9{
        margin: 40px 0;
    }


    /* 사진 확대 */
    .btn_close_m {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        z-index: 99999;
    }


    #jsMod9 .modBg .swiper-container {
        width: 100%;
        height: 100%;
        max-width: unset;
        line-height: 100vh;
    }

    #jsMod9 .modBg {
        width: 100%;
    }

    #jsMod9 .swiper-slide {
        width: 100%;
        max-height: 100vh;
    }

    #jsMod9 .swiper-slide.swiper-slide-active {
        -webkit-overflow-scrolling: touch;
        max-height: 100vh;
    }

    #jsMod9 img {
        border-radius: unset !important;
    }

}

@media only screen and (max-height:375px) {
    .titlebx {
        display: flex;
        align-items: flex-end;
    }

    .mMod1 {
        margin-bottom: unset;
        margin-right: 20px;
    }
}

@media only screen and (max-height:320px) {
    .mMod3 p {
        margin-top: unset;
    }
}

@media (orientation: landscape) and (max-width:850px) {
    .mMod2 .modBg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mMod3{
        position: static;
        margin-top: unset;
    }


    .connectbx{
        display: none;
    }
}