@charset "utf-8";


* {
    -webkit-tap-highlight-color: transparent;
}


html,
body {
    width: 100%;
    height: 100%;
    line-height: unset;
    -webkit-overflow-scrolling: touch;
}

/* 전체박스 */
#wrap {
    width: 100%;
    height: 118%;
    min-width: 1200px;
    background-color: #e9f3e2
}

/* 각 섹션 가운데 정렬 */
.mMod4,
.mMod9,
.mMod5,
.mMod6 {
    margin: 0 auto;
    width: 1200px;
}


/*/////////////////////////////////////////// 메인섹션 ///////////////////////////////*/
.mMod2 {
    position: relative;
    /* background-color: #faedc9; */
    width: 100%;
    height: 100%;
}

.modbg {
    position: fixed;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;

}

/* 사진 */
.background {
    position: relative;
    margin-bottom: 30px;
}


.image_box {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.youtubePlay {
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 73%;
    background: url(../images/Youtube_play.png) no-repeat center/cover;
    text-indent: -9999px;
    font-size: 0px;
    width: 110px;
    height: 110px;
    z-index: 99;
}

.mMod1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;


    /* ios 하위요소 brad, ovf fix */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.mMod1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mMod1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame {
    position: absolute;
    top: -15%;
    left: -7%;
    width: 114%;
    height: 124%;
}

/* ////////////////////////////// 메인 글귀////////////////////////// */
.mMod3 {
    margin-top: 50px;
}

.mMod3 h2 {
    font-size: 35px;
    line-height: 130%;
}

.mMod3 .txt {
    margin-top: 30px;
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
}


.mMod7 {
    font-size: 16px;
    margin: 47px 0;
}

.mMod7 a {
    border: 1px solid rgb(70, 70, 70);
    margin: 10px;
    padding: 10px 10px;
    padding-right: 60px;
    border-radius: 10px;
    box-sizing: border-box;
    background: url(../images/menu_button.png) no-repeat 92% center;
}

/* sns */
.mMod11 {
    line-height: 0;
}

.mMod11 a {
    display: inline-block;
    text-indent: -9999px;
    font-size: 0px;
    margin: 0 0 0 10px;
    width: 46px;
    height: 46px;
}

.mMod11 a.facebook {
    background: url(../../common/images/ico_facebook.png);
}

.mMod11 a.twiter {
    background: url(../../common/images/ico_twitter.png);
}

.mMod11 a.instagram {
    background: url(../../common/images/ico_instagram.png);
}

.mMod11 a.youtube {
    background: url(../../common/images/ico_youtube.png);
}



/* 상단 버튼 */
.btn_top {
    position: fixed;
    top: 34px;
    left: 51px;
    background-color: #3b3a38;
    padding: 10px 30px;
    border-radius: 30px;
    z-index: 100;
    font-size: 1rem;
}

.btn_top a {
    color: #fff;
}


/* ////////////////////////////////// 컨텐츠////////////////////////////////////// */
.content {
    position: relative;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px 0;
    z-index: 999;
}


/* 모듈4 */
.mMod4 {
    padding: 0 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}


.mMod4 li+li {
    margin-top: 30px;
}

.mMod4 .tit {
    font-size: 25px;
    color: #3bc873;
    font-weight: bold;
    margin: 10px 0;
}

.mMod4 .tit::before {
    content: '●';
    display: inline-block;
    margin-right: 10px;
    transform: scale(.5);
}

.mMod4 .txt {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

/* 스와이퍼 */
.mMod9 {
    position: relative;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    box-sizing: border-box;
}

.swiper-container {
    cursor: pointer;
}

.mMod9 .swiper-container {
    width: 100%;
}

.mMod9 .swiper-container img {
    width: 381px;
}

.mMod9 .swiper-wrapper {
    justify-content: center;
}

.mMod9 .swiper-button-next {
    top: 105%;
    background-image: url(../images/slider_next.png);
    background-size: 100% 100%;
    width: 15px;
    height: 26px;
}

.mMod9 .swiper-button-prev {
    top: 105%;
    left: 94%;
    background-image: url(../images/slider_prev.png);
    background-size: 100% 100%;
    width: 15px;
    height: 26px;
}

.mMod9 .swiper-pagination {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.mMod9 .swiper-pagination>span {
    margin: 0 5px;
}

.mMod9 .swiper-pagination-bullet-active {
    background: #3bc873;
}

/* 지도 */
.mMod5 {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 80px;
}

.mMod5 .txt {
    width: 50%;
    height: 460px;
    padding: 40px;
    box-sizing: border-box;
}

.mMod5 .txt .ti {
    font-size: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    line-height: 180%;
}

.ti strong {
    font-size: 20px;
}

.tx {
    font-size: 16px;
    line-height: 180%;
    margin-top: 20px;
}

.navi {
    position: absolute;
    font-size: 16px;
    bottom: 30px;
    color: #fff;
    background-color: #3bc873;
    border-radius: 10px;
    padding: 10px 20px;
}

.navi::before {
    content: url(../images/ico_mod5_2.png);
    vertical-align: -3px;
    margin-right: 6px;
}

.gMap {
    width: 75%;
}

.map {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 0 10px 10px 0;
}

/*/////////////////////////////////////////////////// 푸터 영역//////////////////////////////////////////////////////////// */

footer {
    position: relative;
    z-index: 9999;
    width: 100%;
    background-color: #404040;
    color: #fff;
}

.mMod6 {
    font-size: 14px;
    position: relative;
    padding: 50px 30px;
    box-sizing: border-box;
}

.mMod6 span {
    font-size: 14px;
    font-weight: 300;
}

.mMod6 .tit a {
    font-size: 1.2rem;
    color: #3bc873;
}

.mMod6 .txt {
    line-height: 170%;
    margin-top: 20px;
    font-weight: 300;
}

.mMod10 {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.mMod10 a {
    background-color: #3bc873;
    font-size: 20px;
    line-height: 60px;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
}

.mMod10 a::before {
    content: url(../images/ico_mod10.png);
    display: inline-block;
    transform: scale(1);
    vertical-align: -4px;
    margin-right: 14px;
}

/* 동영상 */
.mMod8 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, .5);
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vid-exit {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* 사진 레이어 */
#jsMod9 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .6s;
}

.modBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modBg .swiper-container {
    width: 800px;
    height: 542px;
}

.modBg .swiper-container img {
    width: 100%;
    height: 100%;
}

.modBg .swiper-button-next {
    position: absolute;
    top: -40px;
    right: 26px;
    background: url(../images/mag_slider_next.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.5);
    height: 27px;
}

.modBg .swiper-button-prev {
    position: absolute;
    top: -40px;
    left: 695px;
    background: url(../images/mag_slider_prev.png) no-repeat;
    background-size: 100% 100%;
    transform: scale(1.5);
    height: 27px;
}

.slide-exit {
    width: 40px;
    position: absolute;
    top: -11%;
    cursor: pointer;
}

/* 알림온 */
.mSky {
    top: unset;
    bottom: 0;
    z-index: 99999;
}