@charset "utf-8";


@media only screen and (max-width:1024px) {
    *{
        -webkit-tap-highlight-color: transparent;
    }

    .btnbx2 {
        display: none;
    }


    #wrap {
        padding: 15px;
        box-sizing: border-box;
    }

    .content {
        position: static;
        width: 100%;
        height: calc((var(--vh, 1vh) * 100) - 30px);
        transform: none;
    }

    .main {
        height: 100%;
    }

    .mMod11 {
        display: none;
    }

    .sms {
        display: inline-block;
        font-size: 15px;
        color: #4e645b;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: #4e645b;
        text-decoration-thickness: 1px;
        margin-top: 15px;
    }

    /* ios 13 이상 swiper tap highlight 제거 */
    .swiper-button-prev:focus,
    .swiper-button-next:focus {
        outline: none;
    }

    .qrpopup{
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
 
    .qrbx{
        width: 70%;
        padding: 20px 0;
        box-sizing: border-box;
        max-height: 100%;
    }
 
    .qrbx .mMod3 h2{
        font-size: 25px;
    }
 
    .qrbx .mMod3::after{
        display: none;
    }
 
    .close2{
        top: 30px;
        left: auto;
        right: 30px;
        transform: none;
        width: 40px;
        height: 40px;
    }

    @media (orientation:landscape) {
        .iframebx {
            padding-top: 40%;
        }
    }


}