@charset "utf-8";

@font-face {
    font-family: 'noonnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile {
    display: none !important;
}

.txt {
    line-height: 160%;
}

#wrap {
    width: 100%;
}

.mMod2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 1;
}

.content {
    margin-top: 100vh;
    position: relative;
    background-color: #fff;
}

.gray {
    padding-top: 50px;
    padding-bottom: 70px;
    box-sizing: border-box;
    width: 100%;
    background-color: #e5e5e5;
}

.mMod6 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mMod6 .tit {
    font-size: 26px;
}

.mMod6 .txt {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.mMod10 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    padding-top: 30px;
    box-sizing: border-box;
}

.mMod10 a {
    display: inline-block;
    height: 57px;
    line-height: 57px;
    padding: 0 40px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    background-color: #000;
    color: #fff;
}

.mMod10 a::before {
    content: '';
    background-image: url(../images/ico_mod10.png);
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-right: 17px;
    vertical-align: -2px;
}

.maintitlebx {
    padding-top: 90px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
}

.mMod0 {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 25px;
    line-height: 120%;
}

.mMod1 {
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 3px 6px 1px rgba(153, 153, 153, 0.562);
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.mMod3 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 23.5px;

    /* 말줄임 중간 생성 방지
    break all 설정 및 padding bottom은 제거 */
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* word-break: break-all; */

}

.mMod3 h2 {
    font-family: "noonnu";
    font-size: 45px;
    line-height: 120%;
}

.mMod3 .txt {
    font-size: 22px;
    margin-top: 44px;
    line-height: 150%;
}

.mMod7 {
    padding-top: 23.5px;
    padding-bottom: 100px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mMod7 a {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mMod7 a::after {
    content: '';
    display: inline-block;
    background-image: url(../images/ico_mod7.png);
    width: 6px;
    height: 11px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.mMod4 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 28px;
    padding-top: 83px;
    padding-bottom: 45px;
    box-sizing: border-box;
}

.mMod4 .swiper-slide+.swiper-slide {
    margin-top: 60px;
}

.mMod4 .tit {
    font-size: 25px;
    font-weight: 600;
    line-height: 120%;
}

.mMod4 .txt {
    font-size: 18px;
    margin-top: 30px;
}

.mMod8 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.iframebx {
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
    height: 600px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

iframe {
    width: 100%;
    height: 100%;
}

.mod9bx {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.mMod9 {
    position: relative;
    box-sizing: border-box;
    height: 780px;
    background-color: #f6f6f6;
    border-radius: 30px;
}

.mMod9 .swiper-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 700px;
}

.mMod9 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    width: 12px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: -45px;
    z-index: 999;
}

.swiper-button-next {
    right: 50px;
    background-image: url(../images/btn_slide_next.png);
}

.swiper-button-prev {
    left: auto;
    right: 90px;
    background-image: url(../images/btn_slide_prev.png);
}

.swiper-pagination {
    width: 100%;
    top: -72px;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 10px;
}

.mMod5 {
    padding-top: 25px;
    padding-bottom: 60px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.gMap {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
}

.navi {
    position: absolute;
    top: 40px;
    right: 28px;
    width: 164px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

.navi::before {
    content: '';
    display: inline-block;
    background-image: url(../images/navi.png);
    width: 16px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 10px;
    vertical-align: -2px;
}

.map {
    width: 100%;
    height: 100%;
}


.txtbx {
    margin-top: 38px;
    padding: 0 50px;
    box-sizing: border-box;
}

.t {
    font-size: 20px;
    font-weight: 600;
}

.ti {
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 27px;
}



.tx {
    border-top: 1px solid #e5e5e5;
    padding-top: 28px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
}

.mMod11 {
    padding-top: 60px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.mMod11 a {
    font-size: 0;
    text-indent: -9999px;
    width: 46px;
    height: 46px;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mMod11 a+a {
    margin-left: 10px;
}

a.facebook {
    background-image: url(../../common/images/ico_facebook.png);
}

a.twitter {
    background-image: url(../../common/images/ico_twitter.png);
}

a.instagram {
    background-image: url(../../common/images/ico_instagram.png);
}

a.youtube {
    background-image: url(../../common/images/ico_youtube.png);
}

.lMod9{
    display: none;
}