@charset "utf-8";

@media only screen and (max-width:850px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    .web {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }



    .content {
        width: 100%;
        margin-top: calc(var(--vh, 1vh) * 107);
        padding-bottom: 20px;
        box-sizing: border-box;
        z-index: 1;
    }

    .mMod7,
    .mMod3,
    .mMod4,
    .mMod8,
    .mMod10,
    .mMod6,
    .mod9bx,
    .mMod5,
    .mMod11,
    .mMod9 {
        width: 100%;
        max-width: unset;
    }

    .maintitlebx {
        padding-top: 30px;
    }

    .mMod0 {
        font-size: 20px;
        font-weight: 300;
        top: -74px;
    }

    .mMod1 {
        width: 60px;
        height: 60px;
    }

    .mMod3 {
        padding: 20px 30px 0 30px;
        text-align: left;
        margin-bottom: 20px;
        -webkit-line-clamp: 12;
    }

    .mMod3 h2 {
        font-size: 25px;
    }

    .mMod3 .txt {
        margin-top: 20px;
        font-size: 14px;
    }

    .mMod7 {
        margin-top: unset;
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
        text-align: left;
    }

    .mMod7 a+a {
        margin-left: unset;
        margin-top: 10px;
    }

    .mMod7 a {
        padding: 0;
        color: #000;
        font-weight: 400;
        height: auto;
        line-height: unset;
        /* margin-left: 20px !important; */
        text-decoration: underline;
        text-underline-offset: 2px;
        text-align: left;
        margin-bottom: 0;
        border: none;
        display: block;
    }


    .mMod7 a::before {
        content: '';
        background-image: url(../images/ico_mod7m.png);
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        left: -30px;
        vertical-align: -7px;
        margin-right: 10px;
    }

    .mMod7 a::after {
        display: none;
    }

    .mMod9 {
        position: relative;
        padding: 20px;
        height: 250px;
        box-sizing: border-box;
        background-color: unset;
        overflow: hidden;
    }

    .mMod9 .swiper-container {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: 100%;
        transform: none;
        overflow: unset;
        box-sizing: border-box;
    }

    .mMod9 img {
        border-radius: 20px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.267);
    }

    .mag {
        position: absolute;
        font-size: 0px;
        text-indent: -9999px;
        width: 30px;
        height: 30px;
        background-image: url(../images/mag.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 9999;
        right: 10px;
        bottom: 10px;
    }


    .mMod4 {
        padding: 20px;
    }

    .mMod4 .tit {
        font-size: 18px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .mMod4 .txt {
        margin-top: 20px;
        font-size: 14px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .mMod4 .swiper-slide+.swiper-slide {
        margin-top: 20px;
        border-top: 1px solid #000;
        padding-top: 20px;
        box-sizing: border-box;
    }

    .mMod10 {
        padding: 20px;
    }

    .mMod10 a {
        position: relative;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
        font-size: 16px;
        text-align: left;
        padding: 0 20px;
    }

    .mMod10 a::before {
        display: none;
    }

    .mMod10 a::after {
        content: '';
        background-image: url(../images/ico_mod10.png);
        width: 15px;
        height: 17px;
        position: absolute;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    .mMod8 {
        padding: 20px;
    }

    .iframebx {
        position: relative;
        height: 0;
        padding-top: 56%;
        border-radius: 10px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mMod5 {
        padding: 20px;
    }

    .gMap {
        height: 250px;
        border-radius: 10px;
    }

    .txtbx {
        margin-top: 20px;
        padding: 0 10px;
    }

    .t {
        font-size: 18px;
    }

    .tx {
        padding-top: unset;
        border: none;
        font-size: 14px;
    }

    .ti {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .navi {
        position: static;
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }

    .mMod6 {
        padding: 20px;
        box-sizing: border-box;
        text-align: left;
    }

    .tel {
        position: relative;
        display: block;
        background-color: #000;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
        text-align: center;
        font-size: 16px;
    }

    .tel::before {
        content: '';
        position: absolute;
        background-image: url(../images/btn_tel.png);
        background-size: 100% 100%;
        width: 15px;
        height: 20px;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
    }

    .mMod6 .txt {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .lMod9 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 99999;
        background-color: #fff;

    }

    .lMod9 .swiper-container {
        width: 100%;
        max-height: 100vh;
        line-height: 100vh;
    }

    .lMod9 .swiper-slide {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    .lMod9 img {
        width: 100%;

    }

    .btn_close {
        font-size: 0;
        text-indent: -9999px;
        position: absolute;
        background-image: url(../images/btn_close.png);
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 99999;
    }


}

@media only screen and (max-height:653px) {

    .mMod3 {
        -webkit-line-clamp: 13;

    }
}

@media only screen and (max-width:280px) {
    .mMod0 {
        top: -93px;
    }
}

@media (orientation:portrait) and (max-height:667px) {
    .content {
        margin-top: calc(var(--vh, 1vh) * 117);
    }
}

@media (orientation:portrait) and (max-height:568px) {
    .content {
        margin-top: calc(var(--vh, 1vh) * 129);
    }
}



/* 가로 회전 */
@media (orientation:landscape) and (max-height:800px) {
    .content {
        margin-top: 130vh;
    }
}

@media (orientation:landscape) and (max-height:400px) {
    .content {
        margin-top: 150vh;
    }
}