@charset "utf-8";

@media only screen and (max-width:850px) {

    ::-webkit-scrollbar{
        width: 0;
    }

    *{
        -webkit-tap-highlight-color: transparent;
    }

    .forWeb{
        display: none;
    }

    .forMobile{
        display: block;
    }

    .gnb {
        position: sticky;
        padding-left: 14px;
    }

    .mMod0 {
        font-size: 15px;
    }

    .mMod1 {
        margin-right: 10px;
    }

    .contact {
        font-size: 12px;
        width: 101px;
        height: 40px;
        line-height: 40px;
    }


    .topmenu{
        padding: 0 24px;
    }

    .top_pbx{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .top_btnbx{
        position: absolute;
        top: 100px;
        width: 100%;
        font-size: 16px;
    }

    .btn_contact, .btn_address{
        padding-bottom: 10px;
    }

    .mMod6{
        margin-top: 0;
        top: 350px;
        width: 100%;
        padding-bottom: 60px;
    }

    .mMod6 .tit{
        font-size: 30px;
    }

    .mMod6 .txt{
        font-size: 15px;
    }

    .mMod6 .btn_tel{
        margin-top: 200px;
        height: 52px;
        line-height: 52px;
        width: 100%;
    }

    .mMod5{
        margin: 0;
        width: 100%;
        top: 180px;
        padding-bottom: 60px;
    }

    .mMod5 .t{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .mMod5 .ti{
        font-size: 20px;
    }

    .mMod5 .tx{
        font-size: 14px;
    }

    .gMap{
        width: 100%;
        height: 0;
        margin-bottom: 23px;
        padding-top: 90%;
    }

    .map{
        position: absolute;
        top: 0;
        left: 0;
    }

    .navi{
        height: 52px;
        line-height: 52px;
        width: 100%;
    }


    .maintitle_bx .btn_tel {
        width: 217px;
        height: 52px;
        line-height: 52px;
    }

    .maintitle_bx .btn_tel a {
        font-size: 15px;
    }

    .contact::after {
        vertical-align: 1px;
    }

    .maintitle_bx {
        max-width: unset;
        width: 100%;
        padding: 0 24px;
        padding-top: 189px;
        margin-bottom: 257px;
    }

    .mMod3 {
        width: 100%;
    }

    .mMod3 h2 {
        font-size: 30px;
    }

    .mMod3 .txt {
        font-size: 14px;
    }

    .flex {
        padding-top: 80px;
        padding-bottom: 86px;
        box-sizing: border-box;
    }

    .pbx {
        max-width: unset;
        width: 100%;
        padding: 0px 24px;
        flex-direction: column;
    }

    .mMod8,
    .mMod9 {
        width: 100%;
    }


    .section_txt {
        font-size: 16px;
    }

    .mMod8 {
        margin-bottom: 67px;
        height: 0;
        padding-top: 56.66%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mMod9 {
        height: 0;
        padding-top: 80%;
    }

    .mMod9 .swiper-container {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .mMod9 .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
    }

    .mMod4 {
        padding: 80px 24px;
    }

    .mMod4 .swiper-container {
        padding: 0;
        padding-top: 30px;
    }

    .btnbx {
        padding: 0;
        padding-bottom: 46px;
    }

    .mMod4 .swiper-pagination {
        margin: 0;
    }

    .mMod4 .swiper-container{
        height: auto;
    }

    .mMod4 .tit{
        font-size: 20px;
    }

    .mMod4 .txt{
        font-size: 14px;
    }

    .txtbx{
        position: static;
        transform: none;
    }

    footer{
        padding: 0 24px;
        padding-top: 61px;
        padding-bottom: 78px;
    }

    .pbx2{
        flex-direction: column;
        align-items: center;
    }

    .mMod7{
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .mMod10{
        display: block;
        position: static;
        width: 100%;
        height: 52px;
        line-height: 52px;
    }

    .lMod9 .swiper-container{
        width: 100%;
        height: 100vh;
        line-height: 100vh;
    }

    .btn_close{
        z-index: 99999999;
        width: 34px;
        height: 34px;
    }

    .lMod9 img{
        border-radius: 0px;
    }
}