@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@font-face {
    font-family: 'classic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Serif KR', serif;
    background-color: #f0f0f0;
}


h2 {
    font-family: 'classic';
}

html,
body,
#wrap {
    width: 100%;
    overflow-x: hidden;
}

html.on,
body.on {
    overflow: hidden;
}

.mMod0,
h2,
.tit,
.ti,
.t {
    line-height: 120%;
}

.txt,
.tx {
    line-height: 160%;
}

.mMod2 {
    width: 100%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 30px;
    box-sizing: border-box;
}

.mainbx {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.mMod0 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 83px;
}

.mMod0::before {
    content: '';
    border: 1px solid #64646488;
    margin-right: 25px;
}

.mMod0::after {
    content: '';
    border: 1px solid #64646488;
    margin-left: 25px;
}

.background {
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    border-radius: 50%;
}

.default {
    display: none;
}

.cloudR {
    width: 35%;
    position: absolute;
    right: -7%;
    top: 8%;
    animation: cloudR 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}

@keyframes cloudR {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-35px);
    }
}

@keyframes cloudL {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(35px);
    }
}

.cloudL {
    width: 35%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: cloudL 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}


.mMod3 h2 {
    font-size: 50px;
    margin-bottom: 35px;
}

.mMod3 .txt {
    font-size: 18px;
    font-weight: 500;
}

.mMod3 {
    margin-bottom: 100px;
}


.mMod1 {
    margin: 0 auto;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    /* box-shadow: 0 0 15px rgba(116, 116, 116, 0.486); */

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.mMod1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px 20px;
    box-sizing: border-box;
}

.mMod4 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 28px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}


.mMod4 .swiper-slide+.swiper-slide {
    margin-top: 60px;
}

.mMod4 .tit {
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
}

.mMod4 .txt {
    font-size: 16px;
    margin-top: 30px;
}


.mMod6 {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.mMod6 .tit {
    font-size: 20px;
}

.mMod6 .txt {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.mMod4::after {
    content: '';
    display: block;
    width: 5%;
    border-bottom: 3px solid #000;
    margin: 0px auto;
    margin-top: 50px;
}

.btn_tel,
.btn_sms,
.btn_QR {
    position: relative;
    display: inline-block;
    padding-top: 60px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;

}

.btn_tel,
.btn_sms {
    margin-right: 20px;
}

.btn_tel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../images/btn_tel.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_sms::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../images/btn_sms.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_QR::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url(../images/btn_QR.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.mMod7 {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.mMod7 a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.mMod11 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.mMod11 a {
    font-size: 0;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mMod11 a+a {
    margin-left: 10px;
}

a.facebook {
    background-image: url(../images/facebook.png);
}

a.twitter {
    background-image: url(../images/twitter.png);
}

a.instagram {
    background-image: url(../images/instagram.png);
}

a.youtube {
    background-image: url(../images/youtube.png);
}


.mMod5 {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.gMap {
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #000;
    width: 100%;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}


.txtbx {
    margin-top: 38px;
    padding: 0 50px;
    box-sizing: border-box;
}

.t {
    font-size: 20px;
    font-weight: 600;
}

.ti {
    margin-top: 16px;
    font-size: 17px;
    margin-bottom: 27px;
}



.tx {
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
}

.navi {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
}

.navi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/navi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
}


.mMod9 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 50px;
}


.mMod9 .swiper-slide p {
    font-size: 20px;
}

.mMod9 .swiper-container {
    width: 100%;
    height: 100%;
}

.mMod9 .swiper-slide img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 20px;
}


.swiper-pagination {
    position: static;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    margin: 10px;
    border-radius: 0;
}




.mMod8 {
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.iframebx {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: 600px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

iframe {
    width: 100%;
    height: 100%;
}

.mMod10 {
    max-width: 1200px;
    text-align: center;
    margin: 0px auto;
}

.mMod10 a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 60px;
    box-sizing: border-box;
}

.mMod10 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/btn_down.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lMod9 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    box-sizing: border-box;
}

.lMod9.on {
    display: block;
}

.lMod9 .swiper-container {
    max-width: 1200px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lMod9 .swiper-slide {
    max-height: 100%;
    overflow-y: auto;
}

.lMod9 .swiper-slide::-webkit-scrollbar {
    width: 3px;
}

.lMod9 .swiper-slide::-webkit-scrollbar-thumb {
    background-color: #000;
}

.swiper-slide::-webkit-scrollbar-track {
    background-color: #ccc;
}

.btn_close {
    position: fixed;
    font-size: 0;
    text-indent: -9999px;
    top: 30px;
    right: 40px;
    background-image: url(../images/btn_close.png);
    width: 40px;
    height: 40px;
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99999;
}

.lMod9 img {
    width: 100%;
}


.imgbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.qrpopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(160, 160, 160, 0.486);
}

.qrpopup.on {
    display: flex;
}

.qrbx {
    width: 50%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.qrbx::-webkit-scrollbar {
    width: 0;
}

.qrbx .mMod3 {
    margin-bottom: 0px;
}

.qrbx .mMod3 h2 {
    margin-bottom: 0px;
    font-size: 22px;
}

.save {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 5px 20px;
    box-sizing: border-box;
    line-height: 160%;
}

.info2 {
    font-size: 16px;
}

#qr {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    box-sizing: border-box;
}

#qr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}