@charset "utf-8";

@media only screen and (max-width:850px) {
    .mMod2 {
        padding: 50px 30px;
    }


    .mMod0 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .background {
        width: 80%;
        padding-top: 80%;
        margin-bottom: 50px;
    }

    .mMod3 h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .mMod3 .txt {
        font-size: 16px;
    }

    .mMod3 {
        margin-bottom: 50px;
    }

  
    .mMod4 {
        margin-bottom: 30px;
    }

    .mMod4 .tit {
        font-size: 22px;
    }

    .mMod4 .txt {
        margin-top: 20px;
        font-size: 15px;
    }

    .mMod4::after {
        width: 15%;
        margin-top: 30px;
    }

    .mMod6 .txt {
        font-size: 15px;
    }

    .btn_tel,
    .btn_sms {
        padding-top: 50px;
    }

    .btn_tel::before,
    .btn_sms::before {
        width: 40px;
        height: 40px;
    }

    .mMod7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .mMod7 a {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .mMod7 a:last-child {
        margin-bottom: 0;
    }

    .mMod11 {
        display: none;
    }

    .mMod5 {
        margin-bottom: 30px;
    }

    .gMap {
        height: 300px;
    }

    .txtbx {
        margin-top: 15px;
    }

    .ti {
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 15px;

    }

    .tx {
        margin-top: 0;
        font-size: 15px;
    }

    .navi {
        padding-top: 50px;
    }

    .navi::before {
        width: 40px;
        height: 40px;
    }


    .mMod9 {
        height: 350px;
        margin-bottom: 30px;
    }

    .mMod8 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .iframebx {
        position: relative;
        height: 0;
        padding-top: 56%;
    }


    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mMod10 a {
        padding-top: 50px;
    }

    .mMod10 a::before {
        width: 40px;
        height: 40px;
    }

    .lMod9 .swiper-container {
        position: relative;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        line-height: calc(var(--vh, 1vh) * 100);
    }


    .btn_close {
        top: 20px;
        right: 20px;
    }


    .web{
        display: none;
    }
}